rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /calls/{callId} {
      function checkHost(userId) {
        return get(/databases/$(database)/documents/calls/$(callId)).data.host == userId;
      }
      allow get: if request.auth != null && request.auth.uid in resource.data.attendees;
      allow list: if request.auth != null;
      allow create: if request.auth != null && !exists(request.path) && callId.matches("^[a-z]{3}-[a-z]{3}$");
      allow update, delete: if request.auth != null && checkHost(request.auth.uid);

      match /participants/{userId} {
        allow read: if exists(/databases/$(database)/documents/calls/$(callId)/participants/$(request.auth.uid)) || checkHost(request.auth.uid);
        allow create, update: if request.auth.uid == userId;
        allow delete: if checkHost(request.auth.uid) || request.auth.uid == userId;

        match /clients/{otherId} {
          allow read, delete: if request.auth.uid == otherId || request.auth.uid == userId || checkHost(request.auth.uid);
          allow create, update: if request.auth.uid == otherId || request.auth.uid == userId;

          match /candidates/{offer} {
            allow read, delete: if request.auth.uid == otherId || request.auth.uid == userId || checkHost(request.auth.uid);
            allow create, update: if request.auth.uid == otherId || request.auth.uid == userId;
          }
        }
      }

      match /messages/{messageId} {
        allow read: if request.auth != null;
        allow create: if request.auth != null && !exists(request.path);
        allow delete: if checkHost(request.auth.uid);
      }
    }

    match /users/{userId} {
      allow read: if true;
      allow write: if true;
    }
  }
}