#attendee-table {
    width: 100%;
    border-radius: 0.5em;
    box-shadow: var(--box-shadow-300);
    overflow: hidden;
    tbody {
        height: 0.5em; // min-height
    }
    tr {
        td, th {
            text-align: left;
            min-width: 40%;
            padding: 0.5em 1em;
        }
    }
}