button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    border: none;
    font-size: 1em;
    line-height: 1em;
    margin: 0;
    padding: 0.5em;
    border-radius: 1000000px;
    background-color: var(--clr-gray-600);
    color: black;
    cursor: pointer;
    svg {
        width: 1.5em;
        height: 1.5em;
        margin: 0;
        padding: 0;
    }

    &:has(svg) {
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }
}

.btn-transparent {
    background-color: transparent;
    color: black;
    path {
        fill: black;
    }
}

.btn-red {
    background-color: red;
    color: white;
    path {
        fill: white;
    }
}

.btn-primary {
    background-color: var(--clr-primary-700);
    color: white;
    path, circle {
        fill: white;
    }
}

.btn-round {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.btn-switch {
    &.btn-on {
        @extend .btn-red;
        > :not(:last-child) {
            display: none;
        }
    }
    &:not(.btn-on) {
        @extend .btn-primary;
        > :not(:first-child) {
            display: none;
        }
    }
}