@mixin content-color($color) {
    color: $color;

    path, circle {
        fill: $color;
    }
}

button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5em;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    line-height: 1em;
    margin: 0;
    padding: 0.5em;
    border-radius: 1000000px;
    min-height: 1.5em;
    transition: var(--transition-color);

    @extend .btn-primary;
    cursor: pointer;
    svg {
        aspect-ratio: 1 / 1;
        width: 1em;
        height: 1em;
        margin: 0;
        padding: 0;
    }

    &[data-tooltip]::after {
        content: attr(data-tooltip);
        display: block;
        display: none;
        position: absolute;
        bottom: calc(100% + 0.5em);
        background-color: var(--clr-component-300);
        color: var(--clr-text-500);
        box-shadow: var(--box-shadow-300);
        padding: 0.5em 1em;
        border-radius: 0.5em;
        width: max-content;
        opacity: 0;
        pointer-events: none;
    }

    &:hover::after {
        display: block;
        animation: to-top 0.25s forwards;
    }


    &[data-tooltip][data-tooltip-bottom]::after {
        bottom: initial;
        top: calc(100% + 0.5em);
    }

    &[data-tooltip-bottom]:hover::after {
        animation: to-bottom 0.25s forwards;
    }

    &:disabled {
        background-color: var(--clr-component-700) !important;
    }
}

.btn-round {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.btn-switch {
    &.btn-on {
        @extend .btn-primary;
        > :not(:first-child) {
            display: none;
        }
    }
    &:not(.btn-on) {
        @extend .btn-red;
        > :not(:last-child) {
            display: none;
        }
    }
}

.btn-tab {
    &-top {
        border-radius: 1em 1em 0 0;
    }

    &-bottem {
        border-radius: 0 0 1em 1em;
    }

    &-right {
        border-radius: 0 1em 1em 0;
    }

    &-left {
        border-radius: 1em 0 0 1em;
    }

    &-top,
    &-bottem {
        height: 2em;
        min-width: 6em;
        padding-inline: 1em;
    }

    &-right,
    &-left {
        width: 2em;
        min-height: 6em;
        padding-block: 1em;
    }

    &-top, &-bottem, &-right, &-left {
        background-color: var(--clr-component-700);
        @include content-color(var(--clr-text-500));
        &:hover {
            background-color: var(--clr-component-500);
        }
        &.btn-on {
            background-color: var(--clr-component-500);
        }
    }
}

.btn-transparent {
    background-color: transparent;
    @include content-color(var(--clr-text-500));

    &:hover {
        background-color: var(--clr-transparennt-500);
    }
}

.btn-link {
    background-color: transparent;
    text-decoration: underline;
    @include content-color(var(--clr-primary-500));

    &:hover {
        background-color: initial;
    }
}

.btn-red {
    background-color: var(--clr-cancel-500);
    @include content-color(white);

    &:hover {
        background-color: var(--clr-cancel-700);
    }
}

.btn-primary {
    background-color: var(--clr-primary-500);
    @include content-color(white);

    &:hover {
        background-color: var(--clr-primary-700);
    }
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes to-bottom {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}