.calendar {
    height: max-content;
    width: 100%;
    background-color: var(--clr-component-500);
    border-radius: 1.2em;
    padding: 0.5em;
    position: relative;
    overflow: hidden;
    /* transform: scale(1.25); */
}

.light .calendar {
    box-shadow: var(--box-shadow-500);
}

.calendar-header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.25em;
    font-weight: 600;
    color: var(--clr-text-500);
    padding: 0.25em;
}

.calendar-body {
    padding: 0.5em;
}

.calendar-week-day {
    height: 2em;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--clr-text-300);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0em;
    color: var(--clr-text-500);
    z-index: 50;
}

.calendar-days div {
    // width: 50px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25em;
    position: relative;
    cursor: pointer;
    outline-width: 0;
    outline-style: solid;
    outline-color: var(--clr-primary-300);
    outline-offset: 0em;
    border-radius: 50%;
    animation: hover-in var(--transition-duration) forwards;
    transition: var(--transition-color),
                outline var(--transition-timing),
                outline-color var(--transition-timing),
                outline-offset var(--transition-timing);
}

.calendar-days div:hover {
    animation: hover-out var(--transition-duration) forwards;
    background-color: hsl(var(--hsl-component-300) / 0.5);
    z-index: 50;
}

.calendar-days .current-selected-day{
    background-color: var(--clr-primary-500);
    color: var(--clr-text-white);
    border-radius: 50%;
    outline: 0.25em solid var(--clr-primary-500);
    outline-width: 0.25em;
    outline-color: var(--clr-primary-500);
    outline-offset: 0.125em;
    &:hover  {
        background-color: var(--clr-primary-300);
        outline-color: var(--clr-primary-300);
    }
}


.calendar-days .curr-date,
.calendar-days .curr-date:hover {
    background-color: var(--clr-primary-300);
    outline-color: var(--clr-primary-300);
    color: var(--clr-text-white);
    border-radius: 50%;

    &.current-selected-day {
        background-color: var(--clr-primary-700);
        outline-color: var(--clr-primary-700);
    }
}

.calendar-days .detailed-date,
.calendar-days .detailed-date:hover {
    background-color: var(--clr-primary-300);
    outline-color: var(--clr-primary-300);
    color: var(--white);
    border-radius: 50%;

    &.current-selected-day {
        background-color: var(--clr-primary-700);
        outline-color: var(--clr-primary-700);
    }
}

.calendar-days .curr-date span {
    display: none;
}

.month-picker,
.year-picker {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span#month {
    width: 4em;
    text-align: center;
}

.month-change,
.year-change {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    user-select: none;
    animation: hover-in var(--transition-duration) forwards;
    transition: var(--transition-color);

    &:hover {
        animation: hover-out var(--transition-duration) forwards;
        background-color: var(--clr-component-300);
    }
}

.calendar-footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 0.5em;
    .detail {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &__text {
            word-break: break-all;
        }
    }
    .toolbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
        .button-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;
        }
    }
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--clr-component-500);
    padding: 1em;
    grid-template-columns: repeat(3, auto);
    gap: 0.25em;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    text-align: center;
    cursor: pointer;
    color: var(--clr-text-500);
}

.month-list > div > div:hover {
    background-color: var(--clr-component-300);
}

@media only screen and (max-width: 900px) and (min-width: 750px) {
    .calendar {
        display: grid;
        grid-auto-columns: 1fr 1fr;
        grid-auto-rows: auto 1fr;
        grid-template-areas: "header body" "footer body";
    }
    .calendar-header {
        grid-area: header;
    }
    .calendar-body {
        grid-area: body;
    }
    .calendar-footer {
        grid-area: footer;
        align-items: flex-start;
        justify-content: space-between;
        .detail {
            align-items: flex-start;
            &__date {
                font-size: 2em;
                font-weight: 600;
            }
        }
        .toolbar {
            margin-inline-start: auto;
            flex-direction: column;
            align-items: flex-end;
        }
    }
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hover-out {
    0% {
        transform: perspective(500px) translateZ(0px);
    }
    100% {
        transform: perspective(500px) translateZ(100px);
    }
}
@keyframes hover-in {
    0% {
        transform: perspective(500px) translateZ(100px);
    }
    100% {
        transform: perspective(500px) translateZ(0px);
    }
}