.class-card-template {
    display: flex;
    flex-direction: column;
    aspect-ratio: 8 / 5;

    background-color: var(--clr-component-500);
    box-shadow: var(--box-shadow-500);

    position: relative;
    border-radius: 1em;
}

.class-card {
    @extend .class-card-template;
    padding: 0.5em;

    &__name {
        font-size: 2rem;
    }

    &__btn-group {
        margin-block-start: auto;
        margin-inline-start: auto;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }
}