@use '../abstracts';
@use '../base';

#class-modal {
    &__color-group {
        input[type="radio"] {
            @extend .visually-hidden;
        }
        nav {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.5em;

            label {
                position: relative;
                color: var(--clr-class-1);
                background-color: currentColor;
                width: 2em;
                height: 2em;
                border-radius: 1em;
                cursor: pointer;
                transform: perspective(500px) translateZ(0px);
                transition: transform var(--transition-timing);

                @include abstracts.add-check-psuedo-element();

                &:hover,
                &:focus-within {
                    transform: perspective(500px) translateZ(100px);
                }
            }
        }
    }
}