#class-modal {
    &__color-group {
        input[type="radio"] {
            display: none;
        }
        nav {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.5em;

            label {
                color: var(--clr-class-1);
                background-color: currentColor;
                width: 2em;
                height: 2em;
                border-radius: 1em;
                cursor: pointer;
                // transition: border var(--transition-timing);

                &.checked {
                    outline: 0.125em solid var(--clr-component-700-reverse);
                }

                &:not(.checked){
                    :hover,
                    :focus {
                        border: 0.125em solid var(--clr-text-white);
                        outline: 0.125em solid currentColor;
                    }
                }
            }
        }
    }
}