dialog {
    --padding: 1rem;
    border: none;
    padding: var(--padding);
    #close-modal-btn{
        position: absolute;
        top: calc(var(--padding) / 2);
        right: calc(var(--padding) / 2);
    }
}