.toggle-switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    --width: 3em;
    --button-size: 1em;

    aspect-ratio: 2 / 1;
    width: var(--width);
    border-radius: calc( var(--width) / 2 );
    cursor: pointer;
    background: var(--toggle-color);

    &.open {
        background: var(--clr-primary-700);
        &::before {
            left: calc( 3 * var(--width) / 4 - var(--button-size) / 2 );
         }
    }

    &::before {
        content: '';
        position: absolute;
        height: var(--button-size);
        width: var(--button-size);
        border-radius: 50%;
        top: 50%;
        left: calc( (var(--width) / 2 - var(--button-size)) / 2 );
        transform: translateY(-50%);
        background: var(--sidebar-color);
        transition: var(--tran-03);
    }
}