<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/main.css">

    {% block script %}
    {% endblock script %}
</head>
<body>
    <div class="content">
        <div class="prefab" hidden>
            {% block prefab %}
            {% endblock prefab %}
        </div>
        {% block navbar %}
            {% include './navbar.njk' %}
        {% endblock navbar %}
        {% block content %}
            <main></main>
        {% endblock %}
    </div>
</body>
</html>