
<div class="calendar">
    <div class="calendar-header">
        <div class="year-picker">
            <span class="year-change" id="prev-year">
                <pre><</pre>
            </span>
            <span id="year">2021</span>
            <span class="year-change" id="next-year">
                <pre>></pre>
            </span>
        </div>
        <div class="month-picker">
            <span class="month-change" id="prev-month">
                <pre><</pre>
            </span>
            <span id="month">二月</span>
            <span class="month-change" id="next-month">
                <pre>></pre>
            </span>
        </div>
    </div>
    <div class="calendar-body">
        <div class="calendar-week-day">
            <div>日</div>
            <div>一</div>
            <div>二</div>
            <div>三</div>
            <div>四</div>
            <div>五</div>
            <div>六</div>
        </div>
        <div class="calendar-days"></div>
    </div>
    <div class="calendar-footer">
        <div class="detail">
            <p class="detail__date"></p>
            <p class="detail__text">點擊查看行程</p>
            <input type="text" class="detail__edit" value="" hidden/>
        </div>

        {% if isHost %}
            <div class="toolbar">
                <p id="calendar__tooltip" hidden>點擊日期以編輯行程</p>
                <div class="button-group">
                    <button id="calendar__cancel" data-tooltip="取消" class="btn-red" hidden>{% include "svg/cross.svg" %}</button>
                    <button id="calendar__save" data-tooltip="儲存" hidden>{% include "svg/save.svg" %}</button>
                    <button id="calendar__edit" data-tooltip="編輯">{% include "svg/pen.svg" %}</button>
                </div>
            </div>
        {% endif %}
    </div>
</div>