<div id="class-schedule">
    <table id="class-schedule__table">
        <thead>
            <tr>
                <th>節次</th>
                <th>一</th>
                <th>二</th>
                <th>三</th>
                <th>四</th>
                <th>五</th>
                <th>六</th>
                <th>日</th>
            </tr>
        </thead>
        <tbody id="class-schedule__tbody">
        </tbody>
    </table>
    <div class="flex flex-row gap-2 flex-align padding-2">
        <p id="class-schedule__tooltip" hidden>點擊格子即開啟/關閉</p>
        <button id="class-schedule__cancel" class="btn-red" hidden>取消</button>
        <button id="class-schedule__save" hidden>儲存</button>
        <button id="class-schedule__edit" hidden>編輯</button>
    </div>
</div>