<div id="class-schedule">
    <table id="class-schedule__table">
        <thead>
            <tr>
                <th>節次</th>
                <th>一</th>
                <th>二</th>
                <th>三</th>
                <th>四</th>
                <th>五</th>
                <th>六</th>
                <th>日</th>
            </tr>
        </thead>
        <tbody id="class-schedule__tbody">
        </tbody>
    </table>
    <div class="flex flex-row gap-2 flex-align padding-2">
        <p id="class-schedule__tooltip" hidden>點擊格子即開啟/關閉</p>
        <button id="class-schedule__cancel" data-tooltip="取消" class="btn-red" hidden>{% include "svg/cross.svg" %}</button>
        <button id="class-schedule__save" data-tooltip="儲存" hidden>{% include "svg/save.svg" %}</button>
        <button id="class-schedule__edit" data-tooltip="編輯" hidden>{% include "svg/pen.svg" %}</button>
    </div>
</div>