<nav id="navbar">
    <ul>
        {# <li><a href="/login">Login</a></li> #}
        {# <li><a href="/logout">Logout</a></li> #}
        <li>{% include "util/login.njk" %}</li>
        <li><a href="/meeting">Meeting</a></li>
        <li><a href="/overview">Overview</a></li>

        <li id='login-text'></li>
    </ul>
</nav>