<nav id="navbar">
    <ul>
        <li><a href="/">主頁</a>
        <li>
            <div id="navbar-profile">
                <div id="navbar-profile__summary">
                    <p id="login-text"></p>
                    <img id="navbar-profile__picture" class="profile-picture" src="/imgs/dummy_profile.png" alt="">
                </div>
                <div id="navbar-profile__dropdown">
                    <button id="sign-in" class="btn-primary">登入</button>
                    <button id="sign-out" class="btn-primary" hidden>登出</button>
                </div>
            </div>
        </li>
    </ul>
</nav>