<nav id="navbar">
    <ul>
        <li><a href="/">主頁</a></li>
        <li><a href="/overview">課程</a></li>
        <li>
            <button id="sign-in" hidden>登入</button>
            <button id="sign-out" hidden>登出</button>
        </li>
        <li>
            <p id='login-text'></p>
        </li>
    </ul>
</nav>