{% extends 'util/base.njk' %}

{% block script %}
    <script src="/js/classroom.js" type="module" defer></script>
{% endblock script %}

{% block prefab %}
<div class="post" data-catagory="announce">
    <div class="flex flex-row flex-align gap-2">
        <div class="flex flex-column padding-inline-start-2 flex-item-1">
            <h3 class="post__title">Title</h3>
            <div class="flex flex-row flex-wrap gap-2">
                <p class="post__catagory">公告</p>
                <p class="post__date">2022/1/1</p>
            </div>
        </div>
    </div>

    <div class="post__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas placeat est! Iure itaque ab enim delectus qui facilis atque facere modi a possimus, quia saepe consequatur recusandae laborum hic? Labore ex eaque culpa! Illo reiciendis error autem velit quam debitis, quidem impedit quas rem, corporis laudantium aliquam voluptas animi!</p>
    </div>

    <div class="flex flex-center">
        <button class="post-reply-show btn-link">顯示所有留言</button>
    </div>

    <div class="post-reply-container flex flex-column gap-4">
    </div>

    <div class="post-reply-writer flex flex-row flex-align-start gap-2">
        <img src="{{ photoURL or '/imgs/dummy_profile.png' }}" class="post__picture" alt="">
        <div class="flex flex-column flex-item-1">
            <div class="flex flex-row">
                <p class="post__name">{{ displayName or '未登入' }}</p>
            </div>
            <div class="flex flex-row flex-align-start gap-2">
                <div class="flex-item-1">
                    <textarea type="text" placeholder="留言" class="resize--auto" style="width: 100%;"></textarea>
                </div>
                <button class="btn-primary" data-tooltip="送出">{% include 'svg/airplane.svg' %}</button>
            </div>
        </div>
    </div>
</div>

<div class="post" data-catagory="homework">
    <div class="flex flex-row flex-align gap-2">
        <div class="flex flex-column padding-inline-start-2 flex-item-1">
            <h3 class="post__title">Title</h3>
            <div class="flex flex-row gap-2">
                <p class="post__catagory">公告</p>
                <p class="post__date">2022/1/1</p>
                <p class="post__state"></p>
            </div>
        </div>
        <label for="file-upload">上傳作業</label>
        <input type="file" name="" id="file-upload" hidden>
        <button class="post__upload-btn">上傳作業</button>
        <button class="post__check-detail btn-link">查看</button>
    </div>
</div>

<div class="post-reply">
    <img src="/imgs/dummy_profile.png" class="post__picture" alt="profile_picture">
    <div class="flex flex-column">
        <div class="flex flex-row gap-2">
            <p class="post__name">name</p>
            <p class="post__date">2022/1/1</p>
        </div>
        <p class="post-reply__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae quos ea assumenda quo accusamus officia, accusantium asperiores aspernatur nam error?</p>
    </div>
</div>

<li class="msg">
    <p>
        <span class="msg__user"></span>
        <span class="msg__timestamp"></span>
    </p>
    <p class="msg__text"></p>
</li>

<table>
    <tr class="alert">
        <td class="alert__type"></td>
        <td class="alert__interval"></td>
        <td class="alert__duration"></td>
        <td class="alert__timestamp"></td>
        <td class="alert__question"></td>
    </tr>
</table>

<table>
    <tr class="ptcp">
        <td class="ptcp__name"></td>
        <td class="ptcp__click"></td>
        <td class="ptcp__ans"></td>
        <td class="ptcp__timestamp"></td>
    </tr>
</table>

<div class="box box1">
    <button id="return-alert-list">返回</button>
    <div id="alert-type" class="nested"></div>
    <div id="alert-interval" class="nested"></div>
    <div id="alert-time" class="nested"></div>
    <div id="time-start" class="nested"></div>
</div>
<div class="box box2">
    <div id="alert-question" class="nested"></div>
</div>
<div class="box box3">
</div>


{% endblock prefab %}

{% block content %}
    <input id="class-id" type="text" value="{{ classInfo.ClassId }}" hidden>
    <main class="light">
        <div id="class-grid">
            <div id="class-sidebar">
                <div id="class-info" style="--class-color: var(--clr-class-{{ classInfo.ClassColor }})">
                    <header>
                        <h1 id="class-name">{{ classInfo.ClassName }}</h1>
                    </header>
                    <main>
                        <div class="flex flex-row flex-align flex-wrap">
                            <p style="text-wrap: no-wrap;">{{ classInfo.ClassId }}</p>
                            <div class="flex flex-row margin-inline-start-auto gap-2">
                                {% if isHost %}
                                    <button id="setting-btn" class="btn-transparent btn-round btn-round" data-tooltip="設定">{% include 'svg/setting.svg' %}</button>
                                {% endif %}
                                <a href="/{{ classInfo.ClassId }}/meeting" target="_blank" id="call-btn" class="btn btn-primary">進入會議</a>
                            </div>
                        </div>
                    </main>
                </div>
                <div class="flex flex-center">
                    {% include "util/calendar.njk" %}
                </div>
                <div class="flex flex-center">
                    {% include "util/class-schedule.njk" %}
                </div>
            </div>

            <div id="class-main" data-current-catagory="entire">
                <div id="tab-group" class="tab-group" style="--length: 4">
                    <nav>
                        <div class="slider"></div>
                        <label for="entire-tab" data-behavior="toggle-button">公告</label><input type="radio" name="slider" data-catagory="entire" id="entire-tab">
                        <label for="chat-tab" data-behavior="toggle-button">聊天紀錄</label><input type="radio" name="slider" data-catagory="chat" id="chat-tab">
                        {% if isHost %}
                            <label for="alert-tab" data-behavior="toggle-button">警醒紀錄</label><input type="radio" name="slider" data-catagory="alert" id="alert-tab">
                        {% endif %}
                    </nav>
                </div>


                <div id="bulletin">
                    <div data-catagory="chat" hidden>
                        <div class="flex flex-column gap-4">
                            <div class="flex flex-row flex-align gap-4 flex-item-1">
                                <h1>聊天紀錄</h1>
                                <button id="download-chat-btn">下載</button>
                            </div>
                            <button id="load-message-btn" class="btn-link">讀取更多</button>
                            <p id="finish-message">已到最頂點</p>
                            <ul id="chat-log">
                            </ul>
                        </div>
                    </div>

                    <div data-catagory="alert" hidden>
                        <div class="flex flex-column gap-4">
                            <div class="flex flex-row flex-align gap-4 flex-item-1">
                                <h1>警醒紀錄</h1>
                                <button id="download-alert-btn">下載</button>
                            </div>
                            {% if isHost %}
                                <div id="alert-lookup">

                                    <input type="text" id="alert-lookup__search" class="search" placeholder="Search for the keyword..">

                                    <div id="alert-lookup__detail" hidden></div>

                                    <div id="alert-lookup__list" class="flex">
                                        <table class="alert-lookup__table" data-type="alert">
                                            <thead>
                                                <tr>
                                                    <th>警醒類型</th>
                                                    <th>警醒間隔</th>
                                                    <th>持續時間</th>
                                                    <th>建立時間</th>
                                                    <th>問題內容</th>
                                                </tr>
                                            </thead>
                                            <tbody id="alert-log">
                                            </tbody>
                                        </table>

                                        <table class="alert-lookup__table" data-type="alert-detail" hidden>
                                            <thead>
                                                <tr>
                                                    <th>姓名</th>
                                                    <th>點擊狀態</th>
                                                    <th>回答</th>
                                                    <th>完成時間</th>
                                                </tr>
                                            </thead>
                                            <tbody id="alert-detail-log">
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            {% else %}
                                <h2>目前僅提供老師端查看警醒紀錄</h1>
                            {% endif %}
                        </div>
                    </div>

                    <div data-catagory="entire" hidden>

                        {% if isHost %}
                            <div class="post">
                                <div class="flex flex-row gap-4">
                                    <div class="flex flex-column gap-4" hidden>
                                        <p>種類</p>
                                        <select name="write-catagory" id="write-catagory">
                                            <option value="announce">公告</option>
                                            <option value="homework">作業</option>
                                        </select>
                                    </div>
                                    <div class="flex flex-row gap-4 flex-item-1">
                                        <p>標題</p>
                                        <input type="text" id="write-title" class="flex-item-1">
                                    </div>
                                </div>
                                <div class="flex flex-row gap-4">
                                    <p>內容</p>
                                    <textarea type="text" id="write-content" class="flex-item-1 resize--verticle" style="height: 11em; min-height: 2em;"></textarea>
                                </div>
                                <button id="write-submit-btn" class="margin-inline-start-auto">張貼</button>
                            </div>
                        {% endif %}

                        <div id="post-container" data-empty-message="無貼文">

                        </div>
                    </div>

                    <div data-catagory="homework" hidden>
                    </div>

                    <div data-catagory="detail" hidden>
                        <div class="flex flex-row flex-align gap-2">
                            <div class="flex flex-column padding-inline-start-2 flex-item-1">
                                <h3 class="post__title">Title</h3>
                                <div class="flex flex-row gap-2">
                                    <p class="post__catagory">公告</p>
                                    <p class="post__date">2022/1/1</p>
                                </div>
                                <div class="user-records">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="loading">
                        <p style="text-align: center">讀取中...</p>
                    </div>
                </div>
            </div>
        </div>

        <button id="back-to-top-btn" hidden>{% include 'svg/up_arrow.svg' %}</button>

        {% include "util/class_modal.njk" %}
    </main>
{% endblock content %}