{% extends 'util/base.njk' %}

{% block script %}
    <script src="/js/classroom.js" type="module" defer></script>
{% endblock script %}

{% block prefab %}
<div class="post" data-catagory="announce">
    <div class="flex flex-row flex-align gap-2">
        <div class="flex flex-column padding-inline-start-2 flex-item-1">
            <h3 class="post__title">Title</h3>
            <div class="flex flex-row gap-2">
                <p class="post__catagory">公告</p>
                <p class="post__date">2022/1/1</p>
            </div>
        </div>
    </div>

    <div class="post__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas placeat est! Iure itaque ab enim delectus qui facilis atque facere modi a possimus, quia saepe consequatur recusandae laborum hic? Labore ex eaque culpa! Illo reiciendis error autem velit quam debitis, quidem impedit quas rem, corporis laudantium aliquam voluptas animi!</p>
    </div>

    <div class="flex flex-center">
        <button class="post-reply-show btn-link">顯示所有留言</button>
    </div>

    <div class="post-reply-container flex flex-column gap-4">
    </div>

    <div class="post-reply-writer flex flex-row flex-align-start gap-2">
        <img src="/imgs/dummy_profile.png" class="post__picture" alt="">
        <div class="flex flex-column flex-item-1">
            <div class="flex flex-row gap-2">
                <p class="post__name">name</p>
            </div>
            <div class="flex flex-row flex-align-start gap-2">
                <textarea type="text" class="flex-item-1 auto-resize" placeholder="留言"></textarea>
                <button class="btn-primary" data-tooltip="送出">{% include 'svg/airplane.svg' %}</button>
            </div>
        </div>
    </div>
</div>

<div class="post" data-catagory="homework">
    <div class="flex flex-row flex-align gap-2">
        <div class="flex flex-column padding-inline-start-2 flex-item-1">
            <h3 class="post__title">Title</h3>
            <div class="flex flex-row gap-2">
                <p class="post__catagory">公告</p>
                <p class="post__date">2022/1/1</p>
                <p class="post__state"></p>
            </div>
        </div>
        <label for="file-upload">上傳作業</label>
        <input type="file" name="" id="file-upload" hidden>
        <button class="post__upload-btn">上傳作業</button>
        <button class="post__check-detail btn-link">查看</button>
    </div>
</div>

<div class="post-reply">
    <img src="/imgs/dummy_profile.png" class="post__picture" alt="profile_picture">
    <div class="flex flex-column">
        <div class="flex flex-row gap-2">
            <p class="post__name">name</p>
            <p class="post__date">2022/1/1</p>
        </div>
        <p class="post-reply__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae quos ea assumenda quo accusamus officia, accusantium asperiores aspernatur nam error?</p>
    </div>
</div>

<li class="msg">
    <p>
        <span class="msg__user"></span>
        <span class="msg__timestamp"></span>
    </p>
    <p class="msg__text"></p>
</li>
{% endblock prefab %}

{% block content %}
    <input id="call-id" type="text" value="{{ callId }}" hidden>
    <main class="light">
        <div id="class-grid">
            <div id="class-sidebar">
                <h1 id="class-name">讀取中...</h1>
                <div class="flex flex-row flex-align flex-wrap">
                    <p style="text-wrap: no-wrap;">{{ callId }}</p>
                    <div class="flex flex-row margin-inline-start-auto gap-2">
                        <button id="setting-btn" class="btn-transparent btn-round btn-round" data-tooltip="設定" hidden>{% include 'svg/setting.svg' %}</button>
                        <button id="call-btn" class="btn-primary">進入會議</button>
                    </div>
                </div>
                <div class="flex flex-center">
                    {% include "util/calendar.njk" %}
                </div>
                <div class="flex flex-center">
                    {% include "util/class-schedule.njk" %}
                </div>
            </div>

            <div id="class-main" data-current-catagory="entire">
                {# <div id="bulletin-horizontal-tab-container">
                    <button id="write-tab" data-catagory="write" class="btn-tab-top" hidden>新增貼文</button>
                    <button id="chat-tab" data-catagory="chat" class="btn-tab-top">聊天紀錄</button>
                    <button id="alert-tab" data-catagory="alert" class="btn-tab-top">警醒紀錄</button>
                </div> #}

                <ul id="feature-tab">
                    <input data-catagory="write" type="radio" name="slider" id="write-tab" checked>
                    <input data-catagory="chat" type="radio" name="slider" id="chat-tab">
                    <input data-catagory="alert" type="radio" name="slider" id="alert-tab">
                    <input data-catagory="entire"type="radio" name="slider" id="entire-tab">
                    {# <input type="radio" name="slider" id="homework"> #}

                        <nav>
                            <div class="slider"></div>
                            <label for="write-tab" class="write-tab" >新增貼文</label>
                            <label for="chat-tab" class="chat-tab" >聊天紀錄</label>
                            <label for="alert-tab" class="alert-tab" >警醒紀錄</label>
                            <label for="entire-tab" class="entire-tab" >公告</label>  
                        </nav>  
                </ul>
                

                <div id="class-secondary">
                    {# <div id="bulletin-vertical-tab-container">
                        <button id="write-tab" data-catagory="write" class="btn-tab-right" hidden>新增貼文</button>
                        <button id="entire-tab" data-catagory="entire" class="btn-tab-right">公告</button>
                        <button id="homework-tab" data-catagory="homework" class="btn-tab-right" hidden>作業</button>
                        <button id="back-to-top-tab" class="btn-tab-right btn-primary">回到最上面</button>
                    </div> #}

                    <div id="bulletin" class="flex-item-1">
                        <div data-catagory="write" hidden>
                            <div class="post">
                                <h1>新增貼文</h1>
                                <div class="flex flex-row gap-4">
                                    <div class="flex flex-column gap-4" hidden>
                                        <p>種類</p>
                                        <select name="write-catagory" id="write-catagory">
                                            <option value="announce">公告</option>
                                            <option value="homework">作業</option>
                                        </select>
                                    </div>
                                    <div class="flex flex-column gap-4 flex-item-1">
                                        <p>標題</p>
                                        <input type="text" id="write-title">
                                    </div>
                                </div>
                                <p>內容</p>
                                <textarea type="text" id="write-content" style="height: 11em; resize: vertical;"></textarea>
                                <button id="write-submit-btn" class="margin-inline-start-auto">張貼</button>
                            </div>
                        </div>

                        <div data-catagory="chat" hidden>
                            <div class="flex flex-column gap-4">
                                <div class="flex flex-row flex-align gap-4 flex-item-1">
                                    <h1>聊天紀錄</h1>
                                    <button id="download-chat-btn">下載</button>
                                </div>
                                <ul id="chat-log">
                                </ul>
                            </div>
                        </div>

                        <div data-catagory="alert" hidden>
                        </div>

                        <div data-catagory="entire" hidden>
                        </div>

                        <div data-catagory="homework" hidden>
                        </div>

                        <div data-catagory="detail" hidden>
                            <div class="flex flex-row flex-align gap-2">
                                <div class="flex flex-column padding-inline-start-2 flex-item-1">
                                    <h3 class="post__title">Title</h3>
                                    <div class="flex flex-row gap-2">
                                        <p class="post__catagory">公告</p>
                                        <p class="post__date">2022/1/1</p>
                                    </div>
                                    <div class="user-records">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="loading">
                            <p style="text-align: center">讀取中...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button id="back-to-top-tab"><i class='bx bx-arrow-from-bottom icon arrow-from-bottom'></i></button>

        



        {% include "util/class_modal.njk" %}
    </main>
{% endblock content %}