{% extends "util/base.njk" %}

{% block script %}
    <script src="/js/index.js" type="module" defer></script>
{% endblock script %}

{% block content %}
<main class="flex flex-center flex-column gap-8">
    {# <img id="logo-title" src="/imgs/logo_title.png" alt="AttenDeer logo"> #}
    <div id="logo-title">
        {% include "./svg/logo_title.svg" %}
    </div>
    <div class="flex flex-row gap-4">
        <input id="call-input" type="text" placeholder="會議代碼">
        <button id="call-btn" class="btn-primary">加入</button>
    </div>
</main>
{% endblock content %}