{% extends 'util/base.njk' %}

{% block script %}
    <script src="/js/index.js" type="module" defer></script>
{% endblock script %}

{% block prefab %}
    <div class="class-card">
        <p class="class-card__name"></p>
        <p class="class-card__id"></p>
        <div class="class-card__btn-group">
            <a class="class-card__link btn btn-round btn-primary" data-tooltip="查看">{% include 'svg/right_arrow.svg' %}</a>
        </div>
    </div>
{% endblock prefab %}

{% block content %}
    <main>
        <div class="class-list">
            {% for class in classes %}
                <div class="class-card">
                    <p class="class-card__name">{{ class.ClassName }}</p>
                    <p class="class-card__id">{{ class.ClassId }}</p>
                    <div class="class-card__btn-group">
                        <a href="/{{ class.ClassId }}" class="class-card__link btn btn-round btn-primary" data-tooltip="查看">{% include 'svg/right_arrow.svg' %}</a>
                    </div>
                </div>
            {% endfor %}

            {% if displayName %}
                <div id="add-class-template" class="class-card-template flex-center flex-row">
                    <button id="add-class-btn" class="btn-round btn-primary">新增課程</button>
                </div>
            {% endif %}
        </div>

        {% include "util/class_modal.njk" %}
    </main>
{% endblock content %}