{% extends 'util/base.njk' %}

{% block script %}
    <script src="/js/index.js" type="module" defer></script>
{% endblock script %}

{% block prefab %}
    <div class="class-card">
        <img class="class-card__background" src="/imgs/dummy_profile.png">
        <p class="class-card__name"></p>
        <p class="class-card__id"></p>
        <div class="class-card__btn-group">
            <button class="class-card__remove btn-round btn-red" hidden>{% include 'svg/cross.svg' %}</button>
            <button class="class-card__link btn-round btn-primary">{% include 'svg/right_arrow.svg' %}</button>
        </div>
    </div>
{% endblock prefab %}

{% block content %}
    <main>
        <div class="class-list">
            <div id="add-class-template" class="class-card-template flex-center flex-row" hidden>
                <button id="add-class-btn" class="btn-round btn-primary">新增課程</button>
            </div>
        </div>

        {% include "util/class_modal.njk" %}

        <dialog id="confirm-modal">
            <h1 id="confirm-modal__title">你確定要刪除<span></span>?</h1>

            <div class="flex flex-row gap-8 margin-block-start-4">
                <button id="modal-cancel-btn" class="margin-inline-start-auto">取消</button>
                <button id="modal-confirm-btn" class="btn-red">刪除</button>
            </div>
        </dialog>
    </main>
{% endblock content %}