{% extends "util/base.njk" %}

{% block script %}
    <script src="/js/meeting.js" type="module" defer></script>
{% endblock script %}

{% block navbar %}
{% endblock navbar %}

{% block prefab %}
    <div class="cam">
        <video class="cam__video" autoplay control=true></video>
        <img class="cam__profile" src="/imgs/dummy_profile.png" alt="profile_picture">
        <span class="cam__name"></span>
    </div>
    <li class="msg">
        <p>
            <span class="msg__user"></span>
            <span class="msg__timestamp"></span>
        </p>
        <p class="msg__text"></p>
    </li>
{% endblock prefab %}

{% block content %}
    <div id="meeting-panel">
        <div id="video-tray"></div>

        <div id="toolbar">
            <span id="call-id">{{ callId }}</span>
            <button id="hang-up-btn" disabled>hang up</button>
            <input id="call-input" type="text">
        </div>

        <div id="chat">
            <ul id="chat__room"></ul>

            <div id="chat__bar">
                <input
                    id="msg-input"
                    name="msg-input"
                    type="text"
                    placeholder="Enter Message"
                    autocomplete="off"
                    required
                />
                <button id="send-msg-btn">send</button>
            </div>
        </div>
    </div>

    <div id="confirm-panel">
        <div id="confirm-panel__video-tray"></div>
        <button id="enter-btn" disabled>enter</button>
        <button id="webcam-btn" disabled>open webcam</button>
        <button id="screen-share-btn" disabled>screen share</button>
    </div>
{% endblock content %}