{% extends "util/base.njk" %}

{% block script %}
    <script src="/js/meeting.js" type="module" defer></script>
{% endblock script %}

{% block navbar %}
{% endblock navbar %}

{% block prefab %}
    <div class="cam">
        <video class="cam__video" autoplay playsinline control=false></video>
        <img class="cam__profile" src="/imgs/dummy_profile.png" alt="profile_picture">
        <span class="cam__name"></span>
        <span class="cam__warning" hidden>!</span>
    </div>
    <li class="msg">
        <p>
            <span class="msg__user"></span>
            <span class="msg__timestamp"></span>
        </p>
        <p class="msg__text"></p>
    </li>
    <li class="my-msg">
        <p>
            <span class="my-msg__timestamp"></span>
            <span class="my-msg__user"></span>
        </p>
        <p class="my-msg__text"></p>
    </li>
{% endblock prefab %}

{% block content %}

    <div id="meeting-panel" class="close-message">

        <nav class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image">
                         <img src="/imgs/logo.png" alt="logo">
                    </span>

                    <div class="text header-text">
                        <span class="name">應用統計學</span>
                        <span class="profession">xxx-xxx</span>
                    </div>
                </div>
            </header>
            <div class="toggle">
                <i class='bx bx-chevron-right'></i>
            </div>

            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bxs-cog icon'></i>
                                <span class="text nav-text">裝置設定</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bxs-cog icon'></i>
                                <span class="text nav-text">會議選項</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bxs-cog icon'></i>
                                <span class="text nav-text">會議資訊</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bxs-cog icon'></i>
                                <span class="text nav-text">警醒資訊</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bxs-cog icon'></i>
                                <span class="text nav-text">背景效果</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="bottom-content">
                    <li class="mode">
                        <div class="moon-sun">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">黑暗模式</span>

                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>
                </div>
            </div>
        </nav>

        <div id="meeting-panel__left">
            <div id="cam-area">
                <div id="video-tray">
                </div>

                <button id="alert-btn" hidden>
                    <p id="alert-btn__text">警醒按鈕</p>
                    <span id="alert-btn__time">00:00</span>
                    <div class="check-box">
                        {% include './svg/alert_button.svg' %}
                    </div>
                </button>
            </div>

            <div id="toolbar">

                <div class="dock">
                    <div class="dock-container">
                        <li class="li-1">
                            <div class="name">麥克風</div>
                            <div class="ico" id="ico"></div>
                        </li>
                        <li class="li-2">
                            <div class="name">視訊</div>
                            <div class="ico" id="ico"></div>
                        </li>
                        <li class="li-3">
                            <div class="name">螢幕分享</div>
                            <div class="ico" id="ico"><button id="screen-share-btn" class="btn-primary btn-round" disabled>{% include './svg/screen_share.svg' %}</button></div>
                        </li>
                        <li class="li-bin li-4">
                            <div class="name">退出會議</div>
                            <div class="ico" id="ico"><button id="hang-up-btn" class="btn-red btn-round" disabled>{% include './svg/hang_up.svg' %}</button></div>
                        </li>

                    </div>
                </div>

                {# <span id="call-id">{{ callId }}</span> #}
                <input id="call-id" type="text" value="{{ callId }}" hidden>
                {# <input id="call-input" type="text"> #}
                
                
                <button id="message-btn" class="btn-primary btn-round">{% include './svg/message.svg' %}</button>
            </div>
        </div>

        <div id="meeting-panel__right" class="sidebar-right close">
            <header>
                <div class="segmented-control">
      
                    <input type="radio" name="radio2" value="3" id="tab-1" checked/>
                    <label for="tab-1" class= "segmented-control__1">
                        <p>聊天室</p></label>

                    <input type="radio" name="radio2" value="4" id="tab-2" />
                    <label for="tab-2" class= "segmented-control__2">
                        <p>參與者</p></label>

                    <div class="segmented-control__color"></div>
                
                </div>
            </header>
            <div id="chat">
                <ul id="chat__room" class="margin-block-end-2"></ul>
                
                <div id="chat__bar">
                    <input
                        id="msg-input"
                        name="msg-input"
                        type="text"
                        placeholder="輸入訊息"
                        autocomplete="off"
                        required
                    />
                    <button id="send-msg-btn" class="btn-primary"><i class='bx bx-send'></i></button>
                </div>
            </div>
        </div>
    </div>

    <div id="end-panel" class="flex flex-column flex-center gap-2">
        <h1>通話結束</h1>
        <a href="/overview">返回課程</a>
    </div>

    <div id="confirm-panel" class="flex flex-column flex-center gap-2">
        <div id="confirm-panel__video-tray" class="flex flex-row gap-2"></div>

        <div class="flex flex-row gap-2">
            <button id="mic-btn" class="btn-switch btn-round btn-on" disabled>{% include './svg/mic.svg' %}{% include './svg/mic_off.svg' %}</button>
            <button id="webcam-btn" class="btn-switch btn-round" disabled>{% include './svg/webcam.svg' %}{% include './svg/webcam_off.svg' %}</button>
            <button id="enter-btn" class="btn-round" disabled>{% include './svg/right_arrow.svg' %}</button>
        </div>
    </div>
{% endblock content %}