.flex {
    display: flex;
}

.flex-justify {
    justify-content: center;
}

.flex-align {
    align-items: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column !important;
}

.flex-row {
    flex-direction: row !important;
}

@for $i from 1 through 8 {
    .flex-item-#{$i} {
        flex-basis: 0;
        flex-grow: $i;
    }
}