.flex {
    display: flex;
}

.flex-justify {
    justify-content: center !important;
}

.flex-justify-start {
    justify-content: start !important;
}

.flex-justify-space-between {
    justify-content: space-between !important;
}

.flex-justify-end {
    justify-content: end !important;
}

.flex-align {
    align-items: center !important;
}

.flex-align-start {
    align-items: flex-start !important;
}

.flex-align-end {
    align-items: flex-end !important;
}

.flex-center {
    justify-content: center !important;
    align-items: center !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column !important;
}

.flex-row {
    flex-direction: row !important;
}

@for $i from 1 through 8 {
    .flex-item-#{$i} {
        flex-basis: 0;
        flex-grow: $i;
    }
}