.margin-block-start-auto {
    margin-block-start: auto;
}

.margin-block-end-auto {
    margin-block-start: auto;
}

.margin-inline-start-auto {
    margin-inline-start: auto;
}

.margin-inline-end-auto {
    margin-inline-end: auto;
}