@use '../abstracts' as *;

:root {
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    }

    /* ===== Colors ===== */
    --body-color: #E4EBF5;
    --body-color-2: #c8d0e7;
    --body-color-3: #bec8e4;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #f6f5ffc8;
    --toggle-color: #DDD;
    --text-color: #707070;  
    --time--text-color: #707070;  
    --border--color: #000;
    --input--color: #9baacf;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}