@use '../abstracts' as *;

:root,
::after,
::before {
    --clr-link: blue;

    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    }

    --bg-body: #f3f8fe;
    --bg-main: #fdfdfd;
    --bg-second: #c3c2c8;
    --color-hover: #edf0f5;
    --color-txt: #151426;

    --blue: #0000ff;
    --white: #fff;
    --gray: #888;
    --dark-gray: #666;

    --font-family: cursive;

    /* ===== Colors ===== */
    --body-color: #E4EBF5;
    --body-color-2: #c8d0e7;
    --body-color-3: #bec8e4;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #f6f5ffc8;
    --toggle-color: #DDD;
    --text-color: #0f0f0f;
    --text-color-11: #ccc;
    --button-icon-color: #9baacf;
    --button-color-1:#E4EBF5;
    --button-color-2:#c8d0e7;
    --button-color-3:#ffffff;
    --button-hov-color:#6d5dfc;
    --button-text-color: #d0daf3;
    --time--text-color: #707070;
    --border--color: rgba(53, 53, 53, 0.541);
    --input--color: #9baacf;
    --floating--color-1: #ecf0f3;
    --floating--color-2: #ffffff;
    --floating--color-3: #adadad;
    --floating--color-11: #262626;
    --floating--color-22: #50505052;
    --floating--color-33: #10101078;
    --color-component-700: var(--floating--color-1);
    --color-component-500: var(--floating--color-3);

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

    /* ====== here ====== */
    --clr-class-1:  hsl(49 68% 23%);
    --clr-class-2:  hsl(79 40% 23%);
    --clr-class-3:  hsl(122 35% 42%);
    --clr-class-4:  hsl(195 76% 30%);
    --clr-class-5:  hsl(238 34% 39%);
    --clr-class-6:  hsl(226 82% 11%);
    --clr-class-7:  hsl(292 60% 20%);
    --clr-class-8:  hsl(349 89% 17%);
    --clr-class-9:  hsl(358 74% 30%);
    --clr-class-10: hsl(332 72% 35%);

    --clr-body: hsl(215 46% 93%);

    --hsl-component-300: 204 54% 88%;
    --hsl-component-500: 206 23% 94%;
    --hsl-component-700: 0 0% 68%;
    --hsl-component-300-reverse: 210 5% 30%;
    --hsl-component-500-reverse: 210 6% 16%;
    --hsl-component-700-reverse: 210 4% 12%;
    --clr-component-300: hsl(var(--hsl-component-300));
    --clr-component-500: hsl(var(--hsl-component-500));
    --clr-component-700: hsl(var(--hsl-component-700));
    --clr-component-300-reverse: hsl(var(--hsl-component-300-reverse));
    --clr-component-500-reverse: hsl(var(--hsl-component-500-reverse));
    --clr-component-700-reverse: hsl(var(--hsl-component-700-reverse));

    --clr-primary-300: hsl(265 90% 65%);
    --clr-primary-500: hsl(245 99% 68%);
    --clr-primary-700: hsl(243 56% 46%);

    --clr-text-300: hsl(0 0% 44%);
    --clr-text-500: hsl(0 0% 15%);
    --clr-text-700: hsl(0 0% 0%);
    --clr-text-300-reverse: hsl(0 0% 58%);
    --clr-text-500-reverse: hsl(0 0% 80%);
    --clr-text-700-reverse: hsl(0 0% 100%);

    --clr-text-white: hsl(0 0% 100%);
    --clr-text-black: hsl(0 0% 15%);


    --clr-cancel-300: hsl(18 93% 52%);
    --clr-cancel-500: hsl(14 90% 50%);
    --clr-cancel-700: hsl(11 91% 46%);

    --clr-transparent-300: hsl(0 0% 50% / 20%);
    --clr-transparent-500: hsl(0 0% 40% / 30%);
    --clr-transparent-700: hsl(0 0% 30% / 40%);

    --clr-bubble-self: hsl(203 52% 71%);
    --clr-bubble-other: hsl(218 13% 50%);

    --clr-shadow-300: hsla(240 5% 41% / 20%);
    --clr-shadow-500: hsla(227 10% 37% / 20%);
    --clr-shadow-700: hsla(219 21% 13% / 20%);

    --box-shadow-300: 0.1rem 0.1rem 0.25rem var(--clr-shadow-700), -0.1rem -0.1rem 0.25rem var(--clr-shadow-500);
    --box-shadow-500: 0.1rem 0.1rem 1rem var(--clr-shadow-700), -0.1rem -0.1rem 1rem var(--clr-shadow-500);
    --box-shadow-700: 0.3rem 0.3rem 1rem var(--clr-shadow-700), -0.3rem -0.3rem 1rem var(--clr-shadow-700);

    --transition-duration: 250ms;
    --transition-timing: var(--transition-duration) ease;
    --transition-color: color var(--transition-timing), background-color var(--transition-timing);
    --transition-inset: inset var(--transition-timing);
}

:root.dark {
    &,
    ::after,
    ::before {
        --bg-body: #4d4c5a;
        --bg-main: #141529;
        --bg-second: #79788c;
        --color-hover: #323048;
        --color-txt: #f8fbff;

        --body-color: #18191a;
        --body-color-2: #29282ce0;
        --body-color-3: rgba(190, 200, 228, 0.064);
        --sidebar-color: #242526;
        --primary-color: #1e70c2;
        --primary-color-light: #3a3b3c;
        --toggle-color: #fff;
        --text-color: #ccc;
        --text-color-11: #707070;
        --button-icon-color: #6c6c6c;
        --button-color-1: #18191a;
        --button-color-2: #202020;
        --button-color-3: #323232;
        --button-hov-color: #6d5dfc;
        --button-text-color: #ccc;
        --time--text-color: rgba(204, 204, 204, 0.665);
        --border--color: rgb(135, 135, 135);
        --input--color: #fff;
        --floating--color-1: #262626;
        --floating--color-2: #50505052;
        --floating--color-3: #10101078;
        --floating--color-11: #ecf0f3;
        --floating--color-22: #ffffff;
        --floating--color-33: #adadad;
        --color-component-700: var(--floating--color-1);
        --color-component-500: hsl(0 0% 11% / 100%);

        --clr-body: hsl(210, 4%, 10%);

        --hsl-component-300: 210 5% 30%;
        --hsl-component-500: 210 6% 16%;
        --hsl-component-700: 210 4% 12%;
        --hsl-component-300-reverse: 204 100% 96%;
        --hsl-component-500-reverse: 206 23% 94%;
        --hsl-component-700-reverse: 0 0% 68%;
        --clr-component-300: hsl(var(--hsl-component-300));
        --clr-component-500: hsl(var(--hsl-component-500));
        --clr-component-700: hsl(var(--hsl-component-700));
        --clr-component-300-reverse: hsl(var(--hsl-component-300-reverse));
        --clr-component-500-reverse: hsl(var(--hsl-component-500-reverse));
        --clr-component-700-reverse: hsl(var(--hsl-component-700-reverse));

        --clr-primary-300: hsl(194 80% 43%);
        --clr-primary-500: hsl(210 73% 44%);
        --clr-primary-700: hsl(219 88% 39%);

        --clr-text-300: hsl(0 0% 58%);
        --clr-text-500: hsl(0 0% 80%);
        --clr-text-700: hsl(0 0% 100%);
        --clr-text-300-reverse: hsl(0 0% 44%);
        --clr-text-500-reverse: hsl(0 0% 15%);
        --clr-text-700-reverse: hsl(0 0% 0%);

        --clr-text-white: #fff;
        --clr-text-black: #0f0f0f;

        --clr-cancel-300: hsl(9 96% 39%);
        --clr-cancel-500: hsl(9 95% 45%);
        --clr-cancel-700: hsl(9 96% 39%);

        --clr-transparent-300: hsl(0 0% 30% / 30%);
        --clr-transparent-500: hsl(0 0% 40% / 30%);
        --clr-transparent-700: hsl(0 0% 50% / 40%);

        --clr-bubble-self: hsl(202 31% 53%);
        --clr-bubble-other: hsl(216 18% 31%);

        --clr-shadow-300: hsl(240 5% 41% / 20%);
        --clr-shadow-500: hsl(0 5% 20% / 80%);
        --clr-shadow-700: hsl(0 0% 0%);

        --box-shadow-500: 0.1rem 0.1rem 1rem var(--clr-shadow-700), -0.1rem -0.1rem 1rem var(--clr-shadow-500);
        --box-shadow-700: 0.3rem 0.3rem 1rem var(--clr-shadow-700), -0.3rem -0.3rem 1rem var(--clr-shadow-700);
    }
}
