@import url('https://fonts.googleapis.com/css?family=Muli&display-swap');

* {

    box-sizing: border-box;

}

.body {

    background-image: linear-gradient(45deg, );

    font-family: 'Muli', sans-serif;

    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

    min-height: 100vh;

    margin: 0;

}

.course-container {

    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));

    gap: 1em;



}

.course {

    background-color: #fff;

    border-radius: 10px;

    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.2);

    display: flex;

    /* max-width: ; */

    margin: 20px;

    overflow: hidden;

    /* width: 700px; */   

    transition: transform 250ms ease, box-shadow 250ms ease;

    aspect-ratio: 3/1;

}

.course:hover{

    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.4);

    transform: perspective(50em) translateZ(1em);

    z-index: 50;

}

.course h6 {

    margin: 0;

    padding: 0;

    letter-spacing: 1px;

}

.course h2 {

    letter-spacing: 1px;

    margin: 0;

    padding: 0;

}

.course-preview {

    background-color: #2a265f;

    color: #fff;

    padding: 1em;

    /* max-width: 50em; */

    min-width: 10em;

    height: 100%;

    display: flex;

    flex-direction: column;

}

.course-preview a {

    color: #fff;

    /* display: inline-block; */

    font-size: 12px;

    /* margin-top: 30px; */

    text-decoration: none;

    margin-top: auto;

}

.course-info {

    padding: 30px;

    position: relative;

    width: 100%;

}

.progress-container {

    position: absolute;

    top: 30px;

    right: 30px;

    text-align: right;

    width: 150px;
}

.progress {

    background-color: #ddd;

    border-radius: 3px;

    height: 5px;

    width: 100%;

}

.progress::after {

    border-radius: 3px;

    background-color: #2a265f;

    content: '';

    position: absolute;

    top: 0;

    left: 0;

    height: 5px;

    width: 66%;
}

.progress-text {

    font-size: 10px;

    opacity: 0.6;

    letter-spacing: 1px;

}

.floating-text {

    background-color: #001f61;

    border-radius: 10px 10px 0 0;

    color: #fff;

    font-family: 'Muli';

    padding: 7px 15px;

    position: fixed;

    bottom: 0;

    left: 50%;

    transform: translateX(-50%);

    text-align: center;

    z-index: 50;
}

.floating-text a {

    color: #ff7500;

    text-decoration: none;

}


.button {

    --side-length: 2em;

    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: space-between;

    position: absolute;
    
    padding-inline-end: 0.5em;

    height: var(--side-length);

    width: var(--side-length);

    right: 1em;

    bottom: 1em;

    overflow: hidden;

    background:var(--clr-component-700-reverse) ;

    border-radius: calc(var(--side-length) / 3);

    cursor:pointer;

    box-shadow: 0em, 1em, 1em, rgb(0, 0, 0, 0.1);

    transition: width 0.3s ease-out;

}

.button:hover {

    width: 5em;

}

.button .icon{

    display: inline-block;

    height: var(--side-length);

    width: var(--side-length);

    flex-shrink: 0;

    text-align: center;

    box-sizing: border-box;

    line-height: var(--side-length);

}

.button .icon i {

    color: #fff;

    font-size: 1em;

    margin-block-start: calc((var(--side-length) - 1em) / 2);

}

.button span {

    color: transparent;

    transition: color 0.3s ease-out;

    word-break: keep-all;

}

.button:hover span {

    color: #fff;
    
}

.button:nth-child(1):hover span {

    color:#fff;

    line-height: 1.5;
}


@media screen and (max-width: 480px) {

    .floating-btn {

        right: 10px;

    }
}