    <div class = "floating-alert" id="floating-alert">
        <div class="alert-info">
            <div class="class-modal" >
                {# 警醒設定畫面 #}
                <form id="close-modal__form" class="flex flex-column gap-4">
                    <h1 class="class-modal__title">警醒資訊</h1>
                    <fieldset>
                        <legend>警醒</legend>
                        <div class="field"  id="alertType">
                            <label for="info-type">警醒類型:</label>
                            <label id="info-type" class="alert-type"></label>
                        </div>
                        <label for="info-interval">警醒間隔:</label>
                        <div class="field">
                            <input id="info-interval" class="alert-interval" name="alert-interval" type="number" readonly='readonly' min="10" max="50" required>
                            <label for="info-interval">分鐘</label>
                        </div>
                        <label for="info-time">警醒持續時間:</label>
                        <div class="field">
                            <input id="info-time" class="alert-time" name="alert-time" type="number" readonly='readonly' min="1" max="3" required>
                            <label for="info-time">分鐘</label>
                        </div>
                    </fieldset>
                    <div class="type-info">
                        <fieldset class="fieldset">

                        </fieldset>
                    </div>

                    <div class="error-text"></div>

                    <div class="center-btn">
                        <button type="button" id="setting" class="margin-inline-start-auto btn-primary">修改</button>
                    </div>

                    <div class="center-btn" hidden>
                        <input type="submit" id="submit-form" hidden disabled/>
                        <button type="button" id="submit-setting" class="margin-inline-start-auto btn-primary">確定</button>
                        <button type="button" id="cancel-setting" class="margin-inline-start-auto btn-primary">取消</button>
                    </div>
                </form>
            </div>
            <div class="alert_icon_buttons" id="alert-exchange">
                <i class='bx bx-repost'></i>
            </div>
        </div>
        <div class="alert-choose close">
            <div class="alert_icon_buttons" id="alert-return">
                <i class='bx bx-arrow-back'></i>
            </div>
            <div class="class-modal">
                <h1 class="class-modal__title">選擇你想要的警醒類型</h1>
                <div class="page-content">
                    <div class="card">
                        <div class="card__content">
                        <h2 class="title">警醒按鈕</h2>
                        <p class="copy">會議主辦人可設定警醒按鈕顯示之間隔以及按鈕顯示持續時間，當時間到時並顯示警醒按鈕在參加會議者畫面任意處供點擊簽到。</p>
                        <button class="btn" id="choose-1">選擇</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__content">
                        <h2 class="title">選擇題警醒</h2>
                        <p class="copy">搭配警醒按鈕，附加選擇題，從一組選項當中，選出一個作為正確的答案，並完成警醒簽到。</p>
                        <button class="btn" id="choose-2">選擇</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__content">
                        <h2 class="title">問答題警醒</h2>
                        <p class="copy">搭配警醒按鈕，附加問答題，讓會議者簡述回答問題，並完成警醒簽到。</p>
                        <button class="btn" id="choose-3">選擇</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__content">
                        <h2 class="title">投票式警醒</h2>
                        <p class="copy">搭配警醒按鈕，附加投票，典型的手法讓群體經過討論或辯論後，在特定紙張上標示出投票者的立場，並完成警醒簽到。</p>
                        <button class="btn" id="choose-4">選擇</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert-step-progress button-setting" hidden></div>

        <div class="alert-step-progress multiple-choice-setting" hidden></div>

        <div class="alert-step-progress essay-question-setting" hidden></div>

        <div class="alert-step-progress vote-setting" hidden></div>
    </div>