<div class="floating-user-media" id="floating-user-media" hidden>
    <h1>裝置設定</h1>

    <div class="floating__content">
        <div>
            <label>音訊輸入裝置:</label>
            <select id="audioSource"></select>
        </div>

        <div>
            <label>視訊輸入裝置:</label>
            <select id="videoSource"></select>
        </div>

        <video autoplay playsinline id="video"></video>
    </div>
</div>