@use '../base';

#class-grid {
    display: grid;
    grid-template-columns: 20em 1fr;
    padding: 1em 2em;
    gap: 2em;

    @media only screen and (max-width: 900px) {
        grid-template-columns: inherit;
        grid-template-rows: auto auto;
    }
}

#class-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#class-info {
    width: 100%;
    background-color: var(--clr-component-500);
    border-radius: 1.2em;
    box-shadow: var(--box-shadow-500);
    overflow: hidden;

    header {
        background-color: var(--class-color, var(--clr-class-1));
        padding: 0.75em 1.5em;
        width: 100%;
        * {
            color: var(--clr-text-white);
            word-break: break-all;
        }
    }

    main {
        padding: 0.75em 1.5em;
    }
}

#class-main {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

#bulletin-horizontal-tab-container {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding-inline-start: base.$bulletin-pad;
    padding-inline-end: base.$bulletin-pad * 2;
    > button {
        box-shadow:
            0.75rem -0.5rem 1rem -0.5em var(--clr-shadow-700),
            -0.75rem -0.5rem 1rem -0.5em var(--clr-shadow-700);
    }
}

#bulletin-vertical-tab-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-block: base.$bulletin-pad;
    > button {
        box-shadow:
            0.5rem 0.75rem 1rem -0.5em var(--clr-shadow-700),
            0.5rem -0.75rem 1rem -0.5em var(--clr-shadow-700);
    }
}

@mixin vertical-bar-seperator() {
    > :not(:first-child) {
        border-top: 1px solid gray;
        padding-block-start: calc(base.$post-gap / 2);
    }
    > :not(:last-child) {
        padding-block-end: calc(base.$post-gap / 2);
    }
}

#bulletin {
    padding: base.$bulletin-pad;
    background-color: var(--clr-component-500);
    border-radius: base.$bulletin-pad;
    box-shadow: var(--box-shadow-500);

    > div {
        display: flex;
        flex-direction: column;
        // gap: base.$post-gap;
        @include vertical-bar-seperator();
    }

    .loading {
        display: block;
    }

    :not([hidden]) ~ .loading {
        display: none;
    }
}

#post-container {
    @include vertical-bar-seperator();
    :empty::after {
        display: block;
        content: attr(data-empty-message);
        text-align: center;
        width: 100%;
    }
}

.post {
    display: flex;
    flex-direction: column;
    gap: 1em;
    --count: attr(replyCount);

    &__title {
        word-break: break-all;
    }

    &__content {
        margin-inline-start: 1em;
        margin-block-end: 1em;
    }

    &-reply {
        display: flex;
        flex-direction: row;
        gap: 0.5em;

        &__content {
            // margin-block-start: 0.25em;
            // overflow-wrap: anywhere;
        }


        &-container {
            display: flex;
            flex-direction: column;
            // gap: 1em;
        }
    }

    &__picture {
        aspect-ratio: 1/1;
        border-radius: 100%;
        padding: 0.25em;
        height: 4em;
    }

    &__name {
        font-weight: 700;
    }

    &__date {
        color: gray;
    }
}

#class-schedule {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    align-items: flex-end;
    gap: 0.5em;
    background-color: var(--clr-component-500);
    border-radius: 1.2em;
    padding: 0.5em;
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow-500);

    &__table {
        text-align: center;
        width: 100%;
        background-color: transparent;

        th, tr {
            background-color: transparent;
        }
        td, th {
            padding-block: 0.5em;
            transition: var(--transition-color);
            &:hover,
            &:focus {
                background-color: var(--clr-component-300);
            }
            &:not(:first-child) {
                border-left: 0.5px solid hsl(0 0% 5% / 10%);
            }
            &.on {
                background-color: var(--clr-primary-500);
                &:hover,
                &:focus {
                    background-color: var(--clr-primary-300);
                }
            }
        }

    }
}

#alert-lookup__detail {
    border: 0.1em solid #ddd;
    padding: 1em;
    text-decoration: none;
    font-size: 1.5em;
    color: var(--text-color);;
    display: grid;
    gap: 1em;
    align-items: center;
    line-height: 1.5em;
}

#alert-detail {
    text-decoration: none;
    font-size: 0.8em;
    color: var(--text-color);;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr ;
    align-items: center;
    button {
        height: 2.5em;
        width: 3.5em;
    }
}

.alert-summary__option {
    display: grid;
    grid-template-columns: 15fr 1fr 1fr;
    &.answer {
        color: #ff0000;
    }
}

#alert-lookup {
    &__search {
        background-image: url('https://www.w3schools.com/css/searchicon.png');
        height: 100%;
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
    }
}
.alert-lookup {
    &__table {
        text-align: center;
        opacity: 1;
        width: 100%;

        thead {
            background-color: var(--clr-primary-700);
            tr {
                color: var(--clr-gray-400);
                th {
                    background-color: transparent;
                }
            }
        }

        tbody {
            tr {
                background-color: var(--clr-component-700);
                &:hover,
                &:focus {
                    &:not(.header) {
                        background-color: var(--border--color);;
                        cursor: pointer;
                    }
                }
                &:nth-child(2n) {
                    background-color: var(--clr-component-700);
                }
            }
        }

        tr {
            border: 0.1em solid #ddd;
            padding: 1em;
            text-decoration: none;
            font-size: 1em;
            color: var(--text-color);
            display: grid;
        }

        &.close {
            opacity: 0;
            width: 0;
            font-size: 0;
        }

        &[data-type="alert"] {
            tr {
                grid-template-columns: 1fr 0.5fr 0.5fr 1.5fr 3fr;
            }
        }
        &[data-type="alert-detail"] {
            tr {
                grid-template-columns: 1fr 0.5fr 4fr 1.5fr;
            }
        }
    }
}

#back-to-top-btn {
    position: fixed;
    bottom: 1em;
    right: 1em;
    font-size: 1.5em;

    &.btn-enter {
        animation-duration: var(--transition-duration);
        animation-fill-mode: forwards;
        animation-name: btnEnter;
    }

    &.btn-exit{
        animation-duration: var(--transition-duration);
        animation-fill-mode: forwards;
        animation-name: btnExit;
    }
}

@keyframes btnEnter {
    from{
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to{
        opacity: 1;
    }
}

@keyframes btnExit {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
}
