#class-grid {
    display: grid;
    grid-template-columns: 20em 1fr;
    padding: 1em;
    gap: 2em;
}

#class-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#class-main {
    display: flex;
    gap: 1em;
    flex-direction: column;
    padding: 1em;
}
#class-secondary {
    display: flex;
    flex-direction: row-reverse;
}

$bulletin-pad: 2em;
$post-gap: 4em;

#bulletin-horizontal-tab-container {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding-inline-start: $bulletin-pad;
    padding-inline-end: $bulletin-pad * 2;
    > button {
        box-shadow:
            0.75rem -0.5rem 1rem -0.5em var(--clr-shadow-700),
            -0.75rem -0.5rem 1rem -0.5em var(--clr-shadow-700);
    }
}

#bulletin-vertical-tab-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-block: $bulletin-pad;
    > button {
        box-shadow:
            0.5rem 0.75rem 1rem -0.5em var(--clr-shadow-700),
            0.5rem -0.75rem 1rem -0.5em var(--clr-shadow-700);
    }
}

#bulletin {
    padding: $bulletin-pad;
    background-color: var(--clr-component-500);
    border-radius: $bulletin-pad;
    box-shadow: var(--box-shadow-500);

    > div {
        display: flex;
        flex-direction: column;
        // gap: $post-gap;

        > :not(:first-child) {
            border-top: 1px solid gray;
            padding-block-start: calc($post-gap / 2);
        }
        > :not(:last-child) {
            padding-block-end: calc($post-gap / 2);
        }
    }

    .loading {
        display: block;
    }

    :not([hidden]) ~ .loading {
        display: none;
    }
}

.post {
    display: flex;
    flex-direction: column;
    gap: 1em;

    &__content {
        margin-inline-start: 1em;
        margin-block-end: 1em;
    }

    &-reply {
        display: flex;
        flex-direction: row;
        gap: 0.5em;

        &__content {
            // margin-block-start: 0.25em;
            // overflow-wrap: anywhere;
        }


        &-container {
            display: flex;
            flex-direction: column;
            // gap: 1em;
        }
    }

    &__picture {
        aspect-ratio: 1/1;
        border-radius: 100%;
        padding: 0.25em;
        height: 4em;
    }

    &__name {
        font-weight: 700;
    }

    &__date {
        color: gray;
    }
}

#class-schedule {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    align-items: flex-end;
    gap: 0.5em;
    background-color: var(--clr-component-500);
    border-radius: 1.2em;
    padding: 0.5em;
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow-500);

    &__table {
        text-align: center;
        width: 100%;
        background-color: transparent;

        th, tr {
            background-color: transparent;
        }
        td, th {
            padding-block: 0.5em;
            transition: background-color var(--transition-color);
            &:hover {
                background-color: var(--clr-component-300);
            }
            &:not(:first-child) {
                border-left: 0.5px solid hsl(0 0% 5% / 10%);
            }
            &.on {
                background-color: var(--clr-primary-500);
                &:hover {
                    background-color: var(--clr-primary-300);
                }
            }
        }

    }
}

#feature-tab{
    display: flex;
    border-radius: 1.9em;
    overflow: hidden;
    margin: 0;
    box-shadow:0 0 0 5px var(--clr-shadow-300);
    

    nav{
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items:center;
        background: var( --clr-component-500);
        justify-content: space-around;

        label{
            position: relative;
            padding: 1em;
            display: block;
            text-align: center;
            cursor: pointer;
            color: var(--clr-text-500);
            z-index:1;
            flex-basis: 0;
            flex-grow: 1;
        }

        .slider{
            position: absolute; 
            background: var(--clr-component-500-reverse);
            height: 100%;
            width: 25%;
            border-radius: 1em;
            z-index: 0; //index數字越大，圖層越上面
            transition: all 0.3s ease;
        }
    }
}
#write-tab:checked ~ nav .slider{
    left: 0%;
}
#chat-tab:checked ~ nav .slider{
    left: 25%;
}
#alert-tab:checked ~ nav .slider{
    left: 50%;
}
#entire-tab:checked ~ nav .slider{
    left: 75%;
}

#write-tab:checked ~ nav label.write-tab,
#chat-tab:checked ~ nav label.chat-tab,
#alert-tab:checked ~ nav label.alert-tab,
#entire-tab:checked ~ nav label.entire-tab{
    color:var(--clr-text-700-reverse);
}

input[type="radio"]{
    display: none;
}



#back-to-top-tab {
    display: none;
    position: fixed;
    bottom: 1.25em;
    right:1.25em;
    font-size:2em;
}
#back-to-top-tab:hover, #back-to-top-tab:focus {
    background-color: #333;
    color: #fff;
}
.btnEntrance{
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

@keyframes btnEntrance {
    from{
        opacity:0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to{
        opacity: 1;
    }
}

.btnExit{
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

@keyframes btnExit {
    from{
        opacity: 1;
    }
    to{
        opacity:0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
}
