#confirm-panel {
    position: absolute;
    inset: 0;
    background-color: white;
    z-index: 20;
}

#end-panel {
    position: absolute;
    inset: 0;
    background-color: white;
}

#meeting-panel {
    display: grid;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    grid-template-areas: "left right";
    grid-template-columns: auto 20em;
    background-color: var(--clr-gray-1000);
    z-index: 10;
    &.open-message {
        grid-template-columns: auto 0;
        #meeting-panel__right {
            display: none;
        }
    }

    &__left {
        display: grid;
        grid-template-areas: "cam" "toolbar";
        grid-template-rows: auto min-content;
        min-height: 0;
    }

    &__right {
        min-height: 0;
        padding: 1em;
    }
}

#video-tray {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: cam;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    padding: 1em;
    gap: 1em;
    min-height: 0;

    :last-child {
        margin-block-end: auto;
    }
}

#confirm-panel__video-tray {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cam {
    position: relative;
    display: flex;
    flex-basis: 15em;
    flex-grow: 1;
    flex-shrink: 0;
    min-width: auto;
    min-height: auto;
    max-height: 100%;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--clr-gray-900);
    border-radius: 0.5em;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    &[overflowed] {
        display: none;
    }

    &__video {
        max-height: 100%;
        max-width: 100%;
    }
    &__name {
        position: absolute;
        right: 1em;
        bottom: 1em;
        background-color: var(--clr-gray-800);
        border-radius: 3em;
        padding: 0.5em;
        color: white;
    }
    &__profile {
        position: absolute;
        top: 50%;
        left: 50%;
        max-height: 100%;
        border-radius: 1000em;
        transform: translate(-50%, -50%);
    }

    &__warning {
        display: block;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        height: 1.5em;
        text-align: center;
        line-height: 1.5em;
        aspect-ratio: 1/1;
        background-color: red;
        color: white;
        border-radius: 50%;
    }

    &[id*="-audio"] {
        display: none;
    }
}

#toolbar {
    --pad: 1em;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: toolbar;
    gap: 0.5em;
    padding: var(--pad);
}

#message-btn {
    position: absolute;
    right: var(--pad);
}

#chat {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
    padding: 0.5em;
    grid-area: chat;
    background-color: white;
    border-radius: 1em;
    // margin: 1em;
    height: 100%;
    min-height: 0;

    &__room {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: scroll;

        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 0.5em;

        .msg {
            &:not(:last-child) {
                margin-block-end: 1em;
            }

            &:last-child {
                margin-block-end: auto;
            }
        }
    }

    &__bar {
        display: flex;
        flex-direction: row;
        height: 2em;
        gap: 0.5em;

        input {
            flex-grow: 1;
            height: 100%;
            width: 100%;
        }

        #send-msg-btn {
            height: 100%;
            width: 5em;
        }
    }
}