#confirm-panel {
    position: absolute;
    inset: 0;
    background-color: white;
    z-index: 20;
}

#end-panel {
    position: absolute;
    inset: 0;
    background-color: white;
}

#meeting-panel {
    position: fixed;
    display: grid;
    height: 100%;
    right: 320px;
    width: calc(100% - 320px);
    background-color: var(--body-color);
    z-index: 10;
    transition: var(--tran-03);

    &.close-message {
        right: 0;
        width: 100%;
    }

    &__left {
        display: grid;
        grid-template-areas: "cam""toolbar";
        grid-template-rows: auto min-content;
        min-height: 0;
    }

    &__right {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 320px;
        z-index: 100;
        transition: var(--tran-03);
        background-color: var(--body-color);
        box-shadow: 0.8rem 0.8rem 0.4rem var(--sidebar-color), -0.01rem -0.2rem 0.5rem var(--body-color-2);

        &.close {
            width: 0;

            .segmented-control {
                opacity: 0;
                visibility: hidden;
            }
        }

        header {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;
            width: 100%;
            background-color: var(--body-color);
            box-shadow: 0 0 0 #fff, 0rem 1rem 2rem var(--body-color-2);
        }
    }
}

.segmented-control {
    width: 17.6rem;
    height: 3rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--body-color-2), -0.2rem -0.2rem 0.5rem #fff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    input {
        display: none;
    }

    >input:checked+label {
        transition: all .5s ease;
        color: var(--primary-color);
    }

    &__1,
    &__2 {
        width: 8.8rem;
        height: 3.6rem;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: var(--input--color);
        transition: all .5s ease;

        &:hover {
            color: var(--primary-color);
        }
    }

    &__color {
        position: absolute;
        height: 2.5rem;
        width: 8.2rem;
        margin-left: .3rem;
        border-radius: .8rem;
        box-shadow: inset 0.2rem 0.2rem 0.5rem var(--body-color-2), inset -0.2rem -0.2rem 0.5rem #fff;
        pointer-events: none;
    }
}

#tab-1:checked~.segmented-control__color {
    transform: translateX(-4.6rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-2:checked~.segmented-control__color {
    transform: translateX(4.3rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 0 10px 14px;
    background: var(--sidebar-color);
    z-index: 100;
    transition: var(--tran-05);

    &.close {
        width: 0px;
        padding-inline: 0;

        .text,
        .icon,
        .image,
        button {
            opacity: 0;
            visibility: hidden;
        }

        .toggle i {
            transform: rotate(0deg);
        }

        .toggle {
            right: -25px;
            border-radius: 0 10px 10px 0;
        }

    }

    .image-text img {
        width: 40px;
        border-radius: 6px;
    }

    header {
        position: relative;

        .image-text {
            display: flex;
            align-items: center;

            .header-text {
                display: flex;
                flex-direction: column;

                .name {
                    font-weight: 600;
                }

                .profession {
                    margin-top: -2px;
                }
            }
        }
    }

    .toggle {
        position: absolute;
        top: 5%;
        right: -25px;
        height: 100px;
        width: 25px;
        background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 10px 10px 0;
        color: var(--sidebar-color);
        font-size: 22px;

        i {
            transform: rotate(180deg);
        }
    }

    .text {
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color);
        transition: var(--tran-03);
        white-space: nowrap;
        opacity: 1;
    }

    .image {
        min-width: 60px;
        display: flex;
        align-items: center;
    }

    li {
        height: 50px;
        margin-top: 10px;
        list-style: none;
        display: flex;
        align-items: center;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 60px;
            font-size: 20px;
            width: 20%;
        }

        .text {
            width: 80%;
            display: flex;
        }

        .icon,
        .text {
            color: var(--text-color);
            transition: var(--tran-03);
        }

        button {
            height: 100%;
            width: 95%;
            display: flex;
            align-items: center;
            text-decoration: none;
            border-radius: 30px;
            background-color: transparent;
            transition: var(--tran-03);
        }

        button:hover {
            background: var(--primary-color);

            .icon,
            .text {
                color: var(--sidebar-color);
            }
        }

        .nav-btn.open {
            background: var(--primary-color);
            width: 100%;
            border-radius: 30px 0 0 30px;
            transition: var(--tran-05);
        }
    }

    .menu-bar {
        height: calc(100% - 50px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .mode {
            position: relative;
            border-radius: 6px;
            background-color: var(--primary-color--light);
            justify-content: flex-start;

            .moon-sun {
                height: 50px;
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
            }

            i {
                position: absolute;
                transition: var(--tran-03);

                &.sun {
                    opacity: 0;
                }
            }

            .text {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .toggle-switch {
                position: absolute;
                right: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 20%;
                min-width: 50px;
                cursor: pointer;
                border-radius: 6px;
                background: var(--primary-color--light);

                .switch {
                    position: relative;
                    height: 22px;
                    width: 44px;
                    border-radius: 25px;
                    background: var(--toggle-color);
                }
            }
        }

    }
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark {
    --body-color: #18191a;
    --body-color-2: #29282ce0;
    --body-color-3: rgba(190, 200, 228, 0.064);
    --sidebar-color: #242526;
    --primary-color: #1e70c2;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --button-icon-color: #6c6c6c;
    --button-color-1: #18191a;
    --button-color-2: #202020;
    --button-color-3: #323232;
    --button-hov-color: #6d5dfc;
    --button-text-color: #ccc;
    --time--text-color: rgba(204, 204, 204, 0.665);
    --border--color: rgb(135, 135, 135);
    --input--color: #fff;
    --floating--color-1: #262626;
    --floating--color-2: #505050;
    --floating--color-3: #101010;

    .sidebar header .toggle {
        color: var(--text-color);
    }

    .sidebar li button:hover {

        .icon,
        .text {
            color: var(--text-color)
        }
    }

    .menu-bar {
        .mode {
            i.sun {
                opacity: 1;
            }

            i.moon {
                opacity: 0;
            }
        }
    }
}

body.dark .switch::before {
    left: 24px;
}

.floating-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;

    .center-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn-primary {
            width: 180px;
            height: 50px;
            border-radius: 25px;
            margin-top: 15px;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1.15px;
            background-color: var(--primary-color);
            color: var(--button-text-color);
            box-shadow: 8px 8px 16px var(--floating--color-2), -8px -8px 16px var(--floating--color-3);
            border: none;
            outline: none;
            margin-inline-start: 0;
            position: absolute;
            bottom: 3px;
        }
    }

    input {
        width: 350px;
        height: 40px;
        margin: 4px 0;
        padding-left: 25px;
        font-size: 13px;
        color: var(--text-color);
        letter-spacing: 0.15px;
        border: none;
        outline: none;
        font-family: "Montserrat", "sans-serif";
        background-color: transparent;
        transition: 0.25s ease;
        border-radius: 8px;
        box-shadow: inset 2px 2px 4px var(--floating--color-2), inset -2px -2px 4px var(--floating--color-3);
    }

    &.show {

        .close-floating_button {
            position: absolute;
            display: flex;
            top: -35px;
            right: 120px;
            background: var(--floating--color-1);
            color: var(--button-icon-color);
            height: 35px;
            width: 140px;
            justify-content: center;
            align-items: center;
            border-start-start-radius: 10px;
            border-start-end-radius: 10px;
            border-color: var(--border--color);
            border-width: 1px;
            border-style: solid;
            font-size: 25px;
        }

        opacity: 1;

        .floating {
            pointer-events: auto;
            position: relative;
            width: 1100px;
            min-width: 1100px;
            min-height: 800px;
            height: 800px;
            padding: 25px;
            background-color: var(--floating--color-1);
            box-shadow: inset 0.2rem 0.2rem 0.5rem var(--floating--color-2), inset -0.2rem -0.2rem 0.5rem var(--floating--color-3);
            border-radius: 12px;

            .alert {
                transition: 1.25s;

                .floating-alert {
                    opacity: 0;
                    display: block;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 980px;
                    height: 780px;
                    padding: 25px;
                    background-color: var(--floating--color-1);
                    right: calc(100% - 1000px);

                    .span_No {
                        box-shadow: 0.3rem 0.3rem 0.6rem var(--button-color-2), -0.2rem -0.2rem 0.5rem var(--button-color-3);
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        width: 2.8rem;
                        height: 2.8rem;
                        border-radius: 50%;
                        &.answear {
                            background-color: var(--primary-color);
                        }
                    }

                    &.is-txl {
                        left: 110px;
                        transition: 1.25s;
                        transform-origin: right;
                    }

                    #class-modal {

                        h1#class-modal__title {
                            display: flex;
                            justify-content: center;
                        }

                        #close-modal__form {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            width: 100%;
                            height: 100%;

                            .type-info {
                                .fieldset {
                                    .option_Input {
                                        width: 447px;
                                    }
                                }
                            }
                        }

                        #alertType {
                            justify-content: center;
                        }

                        input {
                            width: 350px;
                            height: 40px;
                            margin: 4px 0;
                            padding-left: 25px;
                            font-size: 13px;
                            color: var(--text-color);
                            letter-spacing: 0.15px;
                            border: none;
                            outline: none;
                            font-family: 'Montserrat', 'sans-serif';
                            background-color: var(--floating--color-1);
                            transition: 0.25s ease;
                            border-radius: 8px;
                            box-shadow: inset 2px 2px 4px var(--floating--color-2), inset -2px -2px 4px var(--floating--color-3);
                        }

                        textarea {
                            top: 40px;
                            width: 500px;
                            height: 50px;
                            font-size: 20px;
                            margin: 4px 0;
                            padding-left: 25px;
                            color: var(--text-color);
                            letter-spacing: 0.15px;
                            border: none;
                            outline: none;
                            font-family: "Montserrat", "sans-serif";
                            background-color: var(--floating--color-1);
                            transition: 0.25s ease;
                            border-radius: 8px;
                            box-shadow: inset 2px 2px 4px var(--floating--color-2), inset -2px -2px 4px var(--floating--color-3);
                        }

                    }

                    &.a {
                        z-index: 100;

                        .alert_icon_buttons {
                            width: 4rem;
                            height: 4rem;
                            border-radius: 50%;
                            box-shadow: 0.3rem 0.3rem 0.6rem var(--button-color-2), -0.2rem -0.2rem 0.5rem var(--button-color-3);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            right: 15px;
                            top: 15px;
                            font-size: 2rem;
                            cursor: pointer;
                            color: var(--button-icon-color);
                            transition: all 0.5s ease;

                            &:hover {
                                color: var(--button-hov-color);
                            }

                            &:active {
                                box-shadow: inset 0.2rem 0.2rem 0.5rem var(--button-color-2), inset -0.2rem -0.2rem 0.5rem var(--button-color-3);
                                color: var(--button-hov-color);
                            }
                        }

                        .alert-info {
                            width: 100%;
                            opacity: 1;
                            display: block;

                            &.close {
                                width: 0;
                                opacity: 0;
                                display: none;
                            }
                        }

                        .alert-choose {
                            width: 100%;
                            opacity: 1;
                            display: block;

                            &.close {
                                width: 0;
                                opacity: 0;
                                display: none;
                            }

                            .choose_title {
                                #alert-return {
                                    left: 15px;
                                }

                                p {
                                    font-size: 40px;
                                    display: flex;
                                    justify-content: center;
                                    font-weight: bold;
                                    line-height: 2.2;
                                }
                            }

                            .page-content {
                                display: grid;
                                grid-gap: 1rem;
                                max-width: 1024px;
                                margin: 0 auto;
                            }

                            @media (min-width: 600px) {
                                .page-content {
                                    grid-template-columns: repeat(2, 1fr);
                                }
                            }

                            .card {
                                position: relative;
                                display: flex;
                                align-items: flex-end;
                                overflow: hidden;
                                padding: 1rem;
                                width: 100%;
                                text-align: center;
                                color: whitesmoke;
                                background-color: whitesmoke;
                                box-sizing: border-box;
                                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);

                                &:before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 110%;
                                    background-size: cover;
                                    background-position: 0 0;
                                    transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
                                    pointer-events: none;
                                }

                                &:after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 200%;
                                    pointer-events: none;
                                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
                                    transform: translateY(-50%);
                                    transition: transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
                                }

                                &:nth-child(1):before {
                                    background-image: url(https://i.ytimg.com/vi/vCTIYdDIRUQ/maxresdefault.jpg);
                                }

                                &:nth-child(2):before {
                                    background-image: url(https://cdn2.ettoday.net/images/821/d821963.jpg);
                                }

                                &:nth-child(3):before {
                                    background-image: url(https://www.fastweb.com/uploads/article_photo/photo/2035786/sample-essay-questions-for-college-apps.jpg);
                                }

                                &:nth-child(4):before {
                                    background-image: url(https://amp.theportugalnews.com/uploads/news/large/Page3-Vote.jpg);
                                }
                            }

                            @media (min-width: 600px) {
                                .card {
                                    height: 300px;
                                }
                            }

                            .content {
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 100%;
                                padding: 1rem;
                                transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
                                z-index: 1;

                                >*+* {
                                    margin-top: 1rem;
                                }
                            }

                            .title {
                                font-size: 1.3rem;
                                font-weight: bold;
                                line-height: 1.2;
                            }

                            .copy {
                                font-size: 1.125rem;
                                font-style: italic;
                                line-height: 1.35;
                            }

                            .btn {
                                cursor: pointer;
                                margin-top: 1.5rem;
                                padding: 0.75rem 1.5rem;
                                font-size: 0.65rem;
                                font-weight: bold;
                                letter-spacing: 0.025rem;
                                text-transform: uppercase;
                                color: white;
                                background-color: black;
                                border: none;

                                &:hover {
                                    background-color: #0d0d0d;
                                }
                            }

                            @media (hover: hover) and (min-width: 600px) {
                                .card:after {
                                    transform: translateY(0);
                                }

                                .content {
                                    transform: translateY(calc(100% - 4.5rem));
                                    height: 100%;

                                    >*:not(.title) {
                                        opacity: 0;
                                        transform: translateY(1rem);
                                        transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
                                    }
                                }

                                .card {

                                    &:hover,
                                    &:focus-within {
                                        align-items: center;
                                    }

                                    &:hover:before,
                                    &:focus-within:before {
                                        transform: translateY(-4%);
                                    }

                                    &:hover:after,
                                    &:focus-within:after {
                                        transform: translateY(-50%);
                                    }

                                    &:hover .content,
                                    &:focus-within .content {
                                        transform: translateY(0);
                                    }

                                    &:hover .content>*:not(.title) {
                                        opacity: 1;
                                        transform: translateY(0);
                                        transition-delay: calc(700ms / 8);
                                    }

                                    &:focus-within {
                                        .content>*:not(.title) {
                                            opacity: 1;
                                            transform: translateY(0);
                                            transition-delay: calc(700ms / 8);
                                        }

                                        &:before,
                                        &:after {
                                            transition-duration: 0s;
                                        }

                                        .content {
                                            transition-duration: 0s;

                                            >*:not(.title) {
                                                transition-duration: 0s;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.b {
                        z-index: 0;

                        &.is-z200 {
                            z-index: 200;
                            transition: 1.25s;
                        }
                    }

                    .button-setting {
                        &.close {
                            opacity: 0;
                            display: none;
                        }

                        #alert-btn-setting {
                            left: 15px;
                        }

                        .field {
                            justify-content: center;
                        }
                    }

                    .multiple-choice-setting {
                        &.close {
                            opacity: 0;
                            display: none;
                        }
                    }

                    .alert-step-progress {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        opacity: 1;

                        .container {
                            text-align: center;
                            width: 500px;
                            height: 580px;

                            .process-bar {
                                display: flex;
                                margin: 40px 0;

                                .step {
                                    position: relative;
                                    text-align: center;
                                    width: 100%;

                                    p {
                                        font-size: 18px;
                                        font-weight: 500;
                                        color: #000;
                                        margin-bottom: 8px;
                                        transition: 0.2s;

                                        &.active {
                                            color: #d43f8d;
                                        }
                                    }

                                    &:last-child {

                                        .bullet::before,
                                        .bullet::after {
                                            display: none;
                                        }
                                    }

                                    .bullet {
                                        position: relative;
                                        height: 25px;
                                        width: 25px;
                                        border: 2px solid #000;
                                        display: inline-block;
                                        border-radius: 50%;
                                        transition: 0.2s;

                                        &.active {
                                            border-color: #d43f8d;
                                            background: #d43f8d;

                                            span {
                                                display: none;
                                            }
                                        }

                                        &::before,
                                        &::after {
                                            position: absolute;
                                            content: '';
                                            bottom: 10px;
                                            right: -135px;
                                            height: 3px;
                                            width: 125px;
                                            background: #121212;
                                        }

                                        &.active::after {
                                            background: #d43f8d;
                                            transform: scaleX(0);
                                            transform-origin: left;
                                            animation: animate 0.3s linear forwards;
                                        }

                                        @keyframes animate {
                                            100% {
                                                transform: scaleX(1);
                                            }
                                        }

                                        span {
                                            font-weight: 500;
                                            font-size: 17px;
                                            line-height: 20px;
                                            position: absolute;
                                            left: 50%;
                                            transform: translateX(-50%);
                                        }
                                    }

                                    .check {
                                        position: absolute;
                                        left: 50%;
                                        top: 74%;
                                        font-size: 22px;
                                        transform: translate(-50%, -50%);
                                        display: none;

                                        &.active {
                                            display: block;
                                            color: #fff;
                                        }
                                    }
                                }
                            }

                            header {
                                font-size: 30px;
                                font-weight: 500;
                                margin: 0 0 30px 0;
                            }

                            .form-outer {
                                width: 100%;
                                height: 100%;
                                overflow: hidden;

                                form {
                                    display: flex;
                                    width: 800%;

                                    .page {
                                        width: 25%;
                                        transition: margin-left 0.3s ease-in-out;

                                        .title {
                                            text-align: left;
                                            font-size: 25px;
                                            font-weight: 500;
                                            margin: 10px;
                                        }

                                        .field {
                                            height: 55px;
                                            width: 500px;
                                            display: flex;
                                            position: relative;
                                            z-index: 2;

                                            textarea {
                                                position: absolute;
                                                top: 40px;
                                                width: 100%;
                                                height: 90px;
                                                font-size: 20px;
                                            }

                                            button {
                                                width: 100%;
                                                height: 45px;
                                                margin-top: -20px;
                                                border: none;
                                                background-color: var(--primary-color);
                                                border-radius: 5px;
                                                color: var(--button-text-color);
                                                font-size: 18px;
                                                font-weight: 500;
                                                letter-spacing: 1px;
                                                text-transform: uppercase;
                                                cursor: pointer;
                                            }

                                            select {
                                                width: 100%;
                                                padding-left: 10px;
                                                font-size: 17px;
                                                font-weight: 500;
                                            }

                                            .div_no {
                                                position: relative;
                                                height: 40px;
                                                width: 50px;
                                                border: 2px solid #fff;
                                                display: inline-block;
                                                border-radius: 50%;
                                                &.answear-chosen {
                                                    background: #f00;
                                                }
                                                .span_no {
                                                    font-weight: 500;
                                                    font-size: 30px;
                                                    line-height: 34px;
                                                    position: absolute;
                                                    left: 50%;
                                                    transform: translateX(-50%);
                                                }
                                            }

                                            i {
                                                color: #f00;
                                                font-size: 40px;
                                                display: none;
                                            }
                                        }

                                        .label {
                                            position: absolute;
                                            top: 10px;
                                            font-weight: 500;
                                        }

                                        input {
                                            height: 45px;
                                            width: 100%;
                                            border: 1px solid lightgray;
                                            border-radius: 5px;
                                            font-size: 18px;
                                            padding-left: 15px;
                                        }
                                        .add {
                                            margin-top: 10px;
                                        }
                                        .btns {
                                            z-index: 1;

                                            button {

                                                margin-bottom: -20px !important;

                                                &.prev {
                                                    margin-right: 3px;
                                                    font-size: 17px;
                                                    position: absolute;
                                                    width: 49%;
                                                    top: 100px;
                                                }

                                                &.next {
                                                    margin-left: 3px;
                                                    position: absolute;
                                                    width: 49%;
                                                    right: 0;
                                                    top: 100px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .switch {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100px;
            padding: 50px;
            z-index: 200;
            background-color: var(--floating--color-1);
            overflow: hidden;
            box-shadow: 4px 4px 10px var(--floating--color-3), -4px -4px 10px var(--floating--color-2);

            &.is-gx {
                animation: is-gx 1.25s;
            }

            @keyframes is-gx {

                0%,
                10%,
                100% {
                    width: 100px;
                }

                30%,
                50% {
                    width: 200px;
                }
            }

            &.is-txr {
                right: calc(100% - 100px);
                transition: 1.25s;
                transform-origin: right;
            }

            .switch__circle {
                position: absolute;
                width: 500px;
                height: 500px;
                border-radius: 50%;
                background-color: var(--floating--color-1);
                box-shadow: inset 8px 8px 12px var(--floating--color-2), inset -8px -8px 12px var(--floating--color-3);
                top: 60%;
                right: 60%;
                transition: 1.25s;

                .is-txr {
                    left: calc(100% - 100px);
                    transition: 1.25s;
                    transform-origin: left;
                }
            }

            .switch__circle--t {
                top: -30%;
                right: -30%;
                width: 300px;
                height: 300px;
            }

            .switch__container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: absolute;
                width: 100px;
                padding: 50px 55px;
                transition: 1.25s;

                .switch__button {
                    cursor: pointer;
                    color: var(--button-text-color);
                    background-color: var(--primary-color);

                    &:hover {
                        box-shadow: 6px 6px 10px var(--floating--color-2), -6px -6px 10px var(--floating--color-3);
                        transform: scale(0.985);
                        transition: 0.25s;
                    }

                    &:active,
                    &:focus {
                        box-shadow: 2px 2px 6px var(--floating--color-2), -2px -2px 6px var(--floating--color-3);
                        transform: scale(0.97);
                        transition: 0.25s;
                    }
                }
            }

            .is-hidden {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                transition: 1.25s;
            }
        }
    }
}


#cam-area {
    position: relative;
    grid-area: cam;
    overflow: hidden;
}

#video-tray {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    padding: 2em;
    gap: 1em;
    height: 100%;
    min-height: 0;

    > :last-child {
        margin-block-end: auto;
    }
}

#confirm-panel__video-tray {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cam {
    position: relative;
    display: flex;
    flex-basis: 15em;
    flex-grow: 1;
    flex-shrink: 0;
    min-width: auto;
    min-height: auto;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--body-color-3), -0.2rem -0.2rem 1.8rem var(--body-color-2);
    border-radius: 0.5em;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    transition: var(--tran-05);

    &[overflowed] {
        display: none;
    }

    &__video {
        position: relative;
        display: flex;
        justify-items: center;
        align-items: center;
        max-height: 100%;
        max-width: 100%;
        transition: var(--tran-05);

        &:hover {
            opacity: 0.3;
        }
    }

    &__name {
        position: absolute;
        right: 1em;
        bottom: 1em;
        background-color: var(--clr-gray-800);
        border-radius: 3em;
        padding: 0.5em;
        color: white;
    }

    &__profile {
        position: absolute;
        top: 50%;
        left: 50%;
        max-height: 100%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__warning {
        display: block;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        height: 1.5em;
        text-align: center;
        line-height: 1.5em;
        aspect-ratio: 1/1;
        background-color: red;
        color: white;
        border-radius: 50%;
    }

    &[id*="-audio"] {
        display: none;
    }

    img {
        z-index: 1;
    }

    #cam__menu {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li {
        position: absolute;
        left: calc(50% - 100px);
        list-style: none;
        transform-origin: 100px;
        transition: var(--tran-05);
        transform: rotate(0deg) translateX(80px);
        opacity: 0;
        z-index: 0;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: var(--primary-color);
            border-radius: 50%;
            transform: rotate(calc(360deg / -3 * var(--i)));
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
            color: var(--toggle-color);
            transition: var(--tran-05);

            .bx {
                font-size: 200%;
            }

            &:hover {
                color: #ff1252;
            }
        }
    }

    &:hover li {
        transform: rotate(calc(360deg / 3 * var(--i)));
        opacity: 1;

    }

    &:hover {
        background-color: rgba(100, 100, 100, 0.509);
    }
}

#toolbar {
    --pad: 2.5em;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: toolbar;
    gap: 0.5em;
    padding: var(--pad);
}

.dock {
    width: auto;
    height: 60px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);

    .dock-container {
        padding: 3px;
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        background: rgba(83, 83, 83, 0.25);
        backdrop-filter: blur(13px);
        -webkit-backdrop-filter: blur(13px);
        border: 1px solid rgba(255, 255, 255, 0.18);

        .li-bin {
            margin-left: 20px;
            border-left: 1.5px solid rgba(255, 255, 255, 0.4);
            padding: 0px 10px;
        }

        li {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            vertical-align: bottom;
            transition: 0.2s;
            transform-origin: 50% 100%;

            &:hover {
                margin: 0px 13px 0px 13px;
            }

            .name {
                position: absolute;
                top: -35px;
                color: var(--text-color);
                height: 10px;
                width: 150px;
                padding: 10px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                visibility: hidden;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    width: 150px;
                    height: 0;
                    backdrop-filter: blur(13px);
                    -webkit-backdrop-filter: blur(13px);
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 1px solid rgba(0, 0, 0, 0.5);
                }
            }

            .ico {
                transition: var(--tran-02);
            }

            .btn-red .btn-round {
                width: 94% !important;
                height: 94% !important;
                object-fit: cover;
                transition: 0.2s;

                &:hover {
                    margin-left: 10px;
                }
            }
        }
    }
}

@for $i from 1 through 4 {
    .li-#{$i}:hover {
        .name {
            visibility: visible !important;
        }
    }
}


#message-btn {
    position: absolute;
    right: var(--pad);
}

#chat {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-area: chat;
    // margin: 1em;
    height: calc(100% - 70px);
    ;
    width: 100%;
    min-height: 0;
    position: relative;
    font-size: 0.9em;

    &__room {
        height: calc(100% - 50px);
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        padding: 0.5em;

        .my-msg__date {
            position: relative;
        }

        .msg__date {
            position: relative;
        }

        .my-msg__date:hover::after {
            position: absolute;
            bottom: 0;
            left: 10px;
            color: var(--text-color);
            font-size: 1px;
            padding: 5px;
            content: attr(data-content-before);
        }

        .msg__date:hover::after {
            position: absolute;
            bottom: 0;
            right: 10px;
            color: var(--text-color);
            font-size: 1px;
            padding: 5px;
            content: attr(data-content-after);
        }
    }

    &__bar {
        height: 50px;
        display: flex;
        flex-direction: row;
        box-shadow: 0rem 0rem 0.04rem var(--sidebar-color), 2.8rem 2.8rem 5.8rem var(--body-color-2);
        padding: 2%;
        background-color: var(--body-color);

        input {
            width: calc(100% - 40px);
            height: 95%;
            border: none;
            border-radius: 1rem;
            font-size: 1.4em;
            box-shadow: inset 0.02rem 0.02rem 0.05rem var(--body-color-2), inset -1.05rem -0.05rem 1.5rem var(--sidebar-color);
            background: none;
            font-family: inherit;
            color: var(--input--color);
            padding: 0 15px;

            &::-moz-placeholder {
                color: var(--body-color-3);
            }

            &:-ms-input-placeholder {
                color: var(--body-color-3);
            }

            &::placeholder {
                color: var(--body-color-3);
            }

            &:focus {
                outline: none;
                box-shadow: 0.3rem 0.3rem 0.6rem var(--body-color-2), -0.2rem -0.2rem 0.5rem var(--sidebar-color);
            }
        }

        #send-msg-btn {
            width: 40px;
            height: 40px;
            overflow: hidden;
            position: relative;
            margin-left: 5px;
            background: var(--primary-color);
            box-shadow: inset 0.2rem 0.2rem 1rem #8abdff, inset -0.2rem -0.2rem 1rem #5b0eeb, 0.3rem 0.3rem 0.6rem var(--body-color-2), -0.2rem -0.2rem -0.5rem var(--sidebar-color);
            color: #FFF;
            cursor: pointer;

            &:active {
                box-shadow: inset 0.2rem 0.2rem 1rem #5b0eeb, inset -0.2rem -0.2rem 1rem #8abdff;
            }

            &:hover {
                color: #fff;
            }
        }
    }
}